/*** INDEX PAGE - BASIC LAYOUT - LEFT - MAIN - RIGHT ***/

/*** HEADER ***/
header .container.header ul.menu-nav-tabs {
	display: inline-block;
}
/* Header category title link hover color */
.header_cat_link a:hover,
.header_cat_link a:active {
	color: #ccc;
}
/* Set units to %, remove horizontal scrollbar*/
header#page_header nav#nav-top {
    margin-left: 14%;
    width: 84%;
}

header .container > .container {
	padding-left: 5px;
	padding-right: 5px;
}

header .container.header nav #search input.content-search {
	border-radius: 16px;
}
header .container.header nav #search {
	margin: 2px 0;
}

#nav-top .pull-right {
	position: absolute;
	top: 8px;
	right: 0;
}
/* Signed in profile */
header ul li.profile-menu-container {
    padding-top: 0;
    padding-left: 40px;
    top: 34px;
    z-index: 999;
    right: -0px;
	background: rgba(255,255,255,.1);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
header ul li:hover > a {
	color: #fff;
}
header ul li.profile-menu-container:hover {
	color: #fff;
	background: #2673b0;
}
header ul li.profile-menu-container>a:active {
	color: #eee;
}
header ul li.profile-menu-container>a:hover,
header ul li.profile-menu-container>a:visited {
	color: #fff;
}
/* Profile min width */
.profile-menu-container {
	min-width: 140px;
}
/* Profile, drop-down menu */
 header ul li ul,
header .dropdown-header {
	width: 150px;
}

/*** BASIC LAYOUT - LEFT - MAIN - RIGHT ***/
/* Same padding abound containers */

/* Padding around wrapper container */
#products-wrapper,
#explore-content .GridFlex .content,
#explore-content .GridFlex .sidebar-left,
#explore-content .GridFlex .sidebar-right {
	padding: 10px;
}

/* Main content reduced left and right padding */
.explore-products {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
}


/*** LEFT SIDEBAR ***/

#explore-content .GridFlex .sidebar-left {
	flex: 0 0 286px;
	width: 286px;
	min-width: 240px;
}

.sidebar-left .panel-group .panel {
	border-radius: 2px;
}

/* Navigation menu padding */
.naviblock {
	padding: 2px;
}
/* Navigation links with same padding on all sides */
.navilink {
	padding: 0 0 2px 0;
}
/* Remove bottom padding on last link */
.navilink:last-of-type {
	padding: 0;
}
/* Small bottom space for links, easier to hover over links */
ul.naviblock a {
	padding: 2px 0;
	border-radius: 2px;
}
/* Active category link bold style */
li.navilink.active.parent a.active.parent,
ul.naviblock a.active.child {
	font-weight: bold;
}
/* Current fix for child li right alignment inside a parent li */
.navilink .collapse.in {
    display: block;
    margin: 0 -2px 0 -2px;
}
li.navilink.parent.active span .parent span:nth-of-type(1) {
	font-weight: bold;
}
.navilink .child .cat-title::before {
	content: "\2911";
	padding-left: 0px;
	padding-right: 6px;
}


/*** MAIN CONTAINER ***/
/* 
Add padding instead of margins on wrapper. 
Margins of 2.5% are forcing horizontal scroll bar
*/
header section.wrapper, 
footer section.wrapper, 
main section.wrapper {
	width: 100%;
	margin: auto;
	padding: 0 10px;
}

/* Break long links */
a {
	word-wrap: break-word;
}

/* Version number stand-alone */
.explore-products .product-list .explore-product .explore-product-details h3 span.version {
    display: block;
    padding-left: 0px;
    margin-top: 8px;
    color: #656565;
}
/* Tags auto width */
.explore-products .product-list .explore-product .explore-product-details .packagetypes .packagetypeos {
     width: auto;
    float: left;
}


/*** RIGHT SIDEBAR ***/

#explore-content .GridFlex .sidebar-right {
	flex: 0 0 286px;
	width: 286px;
	min-width: 240px;
}

/* Download button */
#explore-content .downloadDiv img {
	opacity: 0;
}

#explore-content .downloadDiv {
	background: url(https://i.imgur.com/VXziQez.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 0;
	display: block;
	width: 100%;
	margin-bottom: 0px;
	padding: 0;
}

/* Keep user names links in one line */
.userinfo a {
	word-wrap: normal;
}


/* Remove grey background and padding, which takes additional space */
#explore-content .sidebar-right-info {
	background: transparent;
	padding: 0;
	margin: 0 auto;
}

/* 
Change font units to em, rem or px; avoid pt. 
Set width to 100% and add space around content
*/
#explore-content .prod-widget-box {
	font-size: 13px;
	line-height: 1.6rem;
	width: 100% !important; /* remove !important */
	margin-bottom: 20px !important;
	padding: 0 8px;
	border-radius: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
#explore-content .prod-widget-box:last-child {
	margin-bottom: 0 !important;
}

/* Break sidebar title and subtitle in two lines, ex. 3 Months Ranking */
.commentTitle .small {
	display: block;
	clear: both;
}

/* Combine/merge widget title with content box */
#explore-content .sidebar-right-info .commentTitle, 
#explore-content .sidebar-right-info .newsTitle {
	display: block !important;
	clear: both;
	margin-top: 10px !important;
	padding: 8px;
	background: #fbfbfb;
	border: 1px solid #ccd4d8;
	border-bottom: 0;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

/* Right sidebar with fixed height and scrollbar-x */
#rss-feeds,
#lastcomments,
#mostdownloaded {
	height: 300px;
	overflow-x: auto;
}

.commentstore {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dee4e6;
}

#explore-content .sidebar-right-info a {
	text-decoration: none;
}

#explore-content .sidebar-right-info a:hover,
#explore-content .sidebar-right-info span a:hover {
	text-decoration: underline;
}

/* News and Comment product title */
#explore-content .sidebar-right-info .commentstore span.title,
.commentstore > div:nth-of-type(1) {
	font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
}
#explore-content .sidebar-right-info .commentstore span.title {
	display: inline-block;
	margin-bottom: 8px;
	text-decoration: initial;
}
.commentstore > div:nth-of-type(1) {
	width: 70%;
	min-height: 68px;
	margin-bottom: 8px;
}

/* Category tag */
.commentstore div:first-of-type span:first-child {
	display: block;
    width: max-content;
    width: -moz-max-content;
    margin: 4px 0;
    padding: 0 4px;
    clear: both;
    font-size: .9rem;
    color: #747474;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f5f5f5;
}

/* User info position */
.commentstore .userinfo {
	position: absolute;
	top: 10px;
	right: 8px;
    text-align: center;
}

/* Username position */
.commentstore .userinfo a span {
	position: absolute;
	top: 50px;
	right: 0;
	width: 54px;
	max-width: 54px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	text-align: right;
}

.commentstore .userinfo a span:hover {
	overflow: visible; 
    white-space: nowrap;
    height: auto;
	width: auto;
	max-width: initial;
	text-align: right;
	background: #fff;
}

/* Date style */
#explore-content .sidebar-right-info .commentstore span.date,
.commentstore > div:nth-of-type(3) span {
    display: block;
    font-size: 1.1rem;
    clear: both;
    color: #555;
    margin-top: 8px;
	text-align: left;
}

/* Most Downloaded style */
.explore-product {
	padding-bottom: 10px;
}

/* Products numbers small */
.sidebar-right-info .explore-product .rownum {
	font-size: 10px;
    position: absolute;
    top: 1px;
    left: -4px;
    z-index: 999;
    background: #eee;
    border-radius: 2px;
    padding: 1px 2px;
}

/* Product title left margin */
#mostdownloaded .explore-product-details div {
	margin-left: 8px;
}

/*** FOOTER ***/
footer {
    width: 100%;
    float: left;
    padding: 36px;
    border-bottom: 0;
    border-top: 4px solid #f5f5f5;
    background-color: #fff;
}

#footer-heading {
    color: #858585;
    font-weight: 200;
}

#footer-nav ul li:nth-of-type(1) a,
#footer-nav ul li:nth-of-type(2) a,
#footer-nav ul li:nth-of-type(3) a {
	color: #2673b0;
	font-weight: 600;
    font-size: 14px;
}

#footer-nav ul li:nth-of-type(4) {
	display: block;
	margin: 16px 0 3px 0;
}

footer section.wrapper section {
	position: relative;
}

footer section.wrapper .pull-right {
	position: absolute;
	width: 200px;
	bottom: 0;
	right: 0;
}

footer section.wrapper .pull-right > div:first-child {
	position: absolute;
	bottom: 0 !important;
	right: 0;
	text-align: right;
	color: #959595 !important;
	z-index: 999;
}

footer section.wrapper .pull-right > div:last-child {
	position: relative;
}

#footer-social {
	display: block;
	position: relative;
	float: right;
	bottom: 30px;
}

footer section.wrapper .pull-right > h3 {
	display: none;
}
/* Social icons */
footer #footer-social a {
    width: 40px;
	height: 40px;
    display: block;
    float: left;
}

/* Social-mod Start */

/* New Social icons */
#facebook {
	background: url(https://i.imgur.com/2HNedlh.png);
	background-size: cover;
}
#twitter {
	background: url(https://i.imgur.com/lOlyD3k.png);
	background-size: cover;
}
#g-plus {
	background: url(https://i.imgur.com/itIYGNQ.png);
	background-size: cover;
}
/* Hide original icons, use new icons as background via css. Possibly better idea is to replace old images and remove everything from "Social-mod Start-End" */
#facebook img,
#twitter img,
#g-plus img {
	opacity: 0;
}
#facebook:hover,
#twitter:hover,
#g-plus:hover {
	opacity: .8;
}  

/* Social-mod End */


/* STATIC PAGE */
.static-container {
    margin-top: calc(5% + 90px);
    margin-bottom: 30px;
}
.static-container .row-fluid {
	padding: 0 30px;
}

/* PLINGS PAGE */
.head-wrap,
.body-wrap {
	padding: 36px !important;
}


/* MEDIA QUERY */

/* < 1279 */
@media screen and (max-width: 1279px) {
	#explore-content .GridFlex .sidebar-left {
		flex: 0 0 240px;
		width: 240px;
		min-width: 240px;
	}
	#explore-content .GridFlex .sidebar-right {
		flex: 0 0 240px;
		width: 240px;
		min-width: 240px;
	}
}


/* < 1199 */
@media screen and (max-width: 1199px) {
	.explore-products {
    	padding-left: 0px;
    	padding-right: 0px;
    	margin-top: -10px;
	}
	
	/* Break 3 columns layout into 2 */
	#explore-content .GridFlex {
		display:flex;
  		flex-flow: row wrap;
  		justify-content: flex-end;
	}
	#explore-content .GridFlex .sidebar-left {
		flex: 0 0 240px;
		width: 240px;
		min-width: 240px;
		order: 1;
	}
	#explore-content .GridFlex .content {
		flex-basis: calc(100% - 240px);
		order: 2;
	}
	#explore-content .GridFlex .sidebar-right {
		flex: 0 0 240px;
		width: 240px;
		min-width: 240px;
		flex-basis: calc(100% - 240px);
		order: 3;
	}
	#explore-content .downloadDiv img {
    	width: 240px;
	}
}


/* < 959 */
@media screen and (max-width: 959px) {
	#explore-content .GridFlex {
			justify-content: flex-end; /* For right sidebar right side alignment on smaller screens */
	}
	#explore-content .GridFlex .sidebar-right {
		flex: 1;
		margin-left: 240px;
	}
	#explore-content .downloadDiv {
		margin-bottom: 10px;
	}
	#explore-content .downloadDiv img {
    width: 240px;
	}
}


/* < 779 */
@media screen and (max-width: 779px) {
	#explore-content .GridFlex .sidebar-left {
		flex-basis: 100% !important; /* override flex: 1 !important */
		order: 1;
	}
	#explore-content .GridFlex .content {
		flex-basis: 100%;
		order: 2;
	}
	#explore-content .GridFlex .sidebar-right {
		flex-basis: 100%;
		order: 3;
	}
	.sidebar-left, .content  {
		flex: 1 !important;
	}
   /* Responsive left sidebar menu */
    #accordion {
        min-height: 40px;
    }
	#accordion .accordion-group {
		height: 43px;
        overflow: hidden;
    }
	
    #accordion .accordion-group::before {
        content:" Browse ";
		font-size: 14px; /* Same font size for Firefox, Chrome, Opera... */
        display: block;
        border: 1px solid #ccc;
        border-radius: 2px;
        padding: 9px;
        margin: 2px;
		background: #fff;
    }
	#accordion .accordion-group:hover::before {
		color: #565656;
		background: #f5f5f5;
		border: 1px solid #bbb; 
	}
    #accordion .accordion-group:focus,
    #accordion .accordion-group:hover,
    #accordion .accordion-group:active {
        height: auto;
        overflow: visible;
    }
    
	#explore-content .GridFlex .sidebar-right {
		flex: 1 !important; /* Set right sidebar to full width */
		margin-left: 0;
		min-width: 100%;
		width: 100%;
	}
}


/* < 735 */
@media screen and (max-width: 735px) {
	/* Header top nav */
	header #page_header nav #nav-top {
		margin-left: 0;
	}
	.metamenu {
    	height: 50px;
	}
	/* Logo */
	.meta-nav-top.left > li:nth-of-type(1) {
		position: absolute;
    	top: -26px;
    	left: 0;
	}
	/* Left nav */
	.meta-nav-top.left {
		position: absolute;
    	top: 26px;
	}
	/* "Addons, Artwork and Other" menu fix for small devices */
	.meta-nav-top.left > li:nth-of-type(6) .dropdown-menu,
	.meta-nav-top.left > li:nth-of-type(8) .dropdown-menu,
	.meta-nav-top.left > li:nth-of-type(10) .dropdown-menu {
		min-width: 110px;
		max-width: 120px;
	}
	/* Dividers margins */
	.nav-pills > li + li {
    margin-left: 5px;
	}
	/* Right nav */
	.meta-nav-top.right {
		float: left;
		margin-left: 142px;
	}
	.header_cat_link {
		left: 100px; /* Move category title left */
		bottom: 2px;
		font-size: 20px;
	}
	header .logo-header {
		width: 86px; /* Hide category logo title, keep icon visible */
		left: 0px; /* Align category logo left */
		top: 8px;
	}
	li.navilink span.cat-title {
		padding-left: 8px; /* Add left padding to match coutner right side space */
	}
	li.navilink span.product-counter {
		width: 23%; /* Align categories counter to the right side */
	}
	#explore-content .GridFlex .content	{
		padding: 0;
		min-width: 100%;
	}
	.explore-products, 
	.sidebar-right {
		padding-left: 15px;
		padding-right: 15px;
	}
	.explore-products .product-list {
		padding: 0;
	}
	
	/* Comment section username position */
	.commentstore .userinfo a span {
		position: absolute;
		top: 50px;
		right: 0;
		width: auto;
		max-width: initial;
		white-space: nowrap;
		overflow: visible;
		text-overflow: initial;
	}
	
	/* Footer  */
	footer section.wrapper .pull-left {
		width: 100%;
		margin-bottom: 30px;
	}
	footer section.wrapper .pull-right {
		position: relative;
		width: 100%;
		bottom: 0;
		left: 0;
		height: 80px;
	}
	footer section.wrapper .pull-right > div:first-child {
		left: 0;
		right: auto;
	}
	footer #footer-social {
		float: left;
		top: 8px;
	}
}


/* < 560 */
@media screen and (max-width: 560px) {
	/* Static page padding */
	.static-container .row-fluid {
		padding: 0 10px;
	}
	/* Footer small changes*/
	#footer-nav ul li:nth-of-type(1),
	#footer-nav ul li:nth-of-type(2),
	#footer-nav ul li:nth-of-type(3) {
		display: block;
		margin: 16px 0;
	}
	#footer-nav ul li:nth-of-type(4) {
	margin: 30px 0 3px 0;
	}
}


/* < 460 */
@media screen and (max-width: 460px) {
    /* Top menu height */
    .metamenu {
    	height: 70px;
    }
    /* Break top menu categories in two lines */
    .meta-nav-top.left > li:nth-of-type(8) {
    	clear: left;
    }
	.meta-nav-top.left > li:nth-of-type(8),
    .meta-nav-top.left > li:nth-of-type(9),
    .meta-nav-top.left > li:nth-of-type(10) {
    	margin-top: 4px;
    }
    /* Remove right margin from nav-pills small top menu */
    .small.metamenu > .meta-nav-top.right {
    	margin-right: 0px !important;
    }
    /* Reduce search width */
    header .container.header nav #search input.content-search {
    	width: 10em;
    }
    /* Reduce right margin on Login and Register buttons */
    header .container.header .absolute-right {
    	right: 4px;
    }
    
	/* Pagination on small devices - hide previous and next text, show left and right arrows  */
    /* Easier way is to add next and previous text inisde <span> and target the span only */
    .explore-products .explore-footer .projectPaginationControl ul#pagination-digg .previous {
    	display: inline-block;
        width: 20px;
        height: 20px;
        overflow: hidden;
		visibility: hidden;
    }
    .explore-products .explore-footer .projectPaginationControl ul#pagination-digg .previous a>span {
    	visibility: visible;
    }
	.explore-products .explore-footer .projectPaginationControl ul#pagination-digg .next {
        display: inline-block;
        width: 20px;
        height: 20px;
    	overflow: hidden;
        visibility: hidden;
        text-indent: -100px; /* Move "next" 100px left */
    }
    .explore-products .explore-footer .projectPaginationControl ul#pagination-digg .next a>span {
    	visibility: visible;
        text-indent: 60px; /* Move arrow back */
    }
}

/*** PRODUCT PAGE - BASIC LAYOUT - LEFT - MAIN - RIGHT ***/
/* Same padding abound containers , added margins to compensate wrapper 0 padding */

/* LEFT SIDEBAR */
#product-page-content .sidebar-left {
    margin: 0 0 0 10px;
    padding: 0 10px;
    padding-top: 20px;
    flex: 0 0 286px;
    width: 286px;
    min-width: 240px;
}

/*** MAIN CONTAINER ***/
#product-main {
	flex: 1;
	min-width: 500px;
}

/* Remove all paddings from the main content and negative margins */
#product-page-content #product-main-img #product-title-div,
#product-page-content #product-tabs {
	padding-left: 0;
}

#product-page-content #product-panels,
#product-page-content #product-panels .tab-pane {
	padding-left: 0;
	padding-right: 0;
}

#product-page-content #product-panels .tab-pane#about-panel #product-about {
	padding: 0;
}

#product-discussion .row {
	margin: auto 0;
}

#product-discussion .row div:nth-child(1) {
	padding: 0;
}

/* Product title */
#product-page-content #product-main-img #product-title-div {
	padding-left: 10px;
	padding-right: 20px;
}
/* Rating widget */
#product-page-content #product-main-img #product-title-div > div:nth-child(2) {
	border-bottom: 0;
}
#widget-rating a.partial {
    padding: 5px 6px 4px 7px;
	border: 0;
}
#widget-rating .btn.active, 
#widget-rating .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0);
}
#widget-rating .btn {
	border-radius: 4px;
}
.voteup:active,
.voteup:hover,
.voteup:focus {
	background: #66BB6A;
}
.votedown:active,
.votedown:hover,
.votedown:focus {
	background: #EF5350;
}

/* Product title and Rating system in the same row */
#product-title {
	width: calc(98% - 150px);
}
#product-title {
    position: relative;
    padding-left: 90px;
}
#product-page-content #product-main-img #product-title-div .product-logo-container {
    margin-bottom: 10px;
    margin-top: 4px;
    position: absolute;
    top: 0;
    left: 0px;
}

/*** Carousel responsive ***/
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: max-content;
    margin: 0 auto;
}
.product-main-img .carouselContainer {
    padding: 0 0 30px 0;
    margin-top: 10px; /* Carousel doesn't cover project url */
}
/* Set small image size */
.imgsmall .carousel-inner > .item > img {
	width: calc(100% - 10px);
    max-width: 800px;
    height: auto;
    max-height: fit-content;
    min-height: fill-available;;
}

/*** Navigation arrows ***/
.carousel-control .glyphicon-chevron-left, 
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next {
    background: #ccc;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-next, 
.carousel-control .icon-prev {
    width: 48px;
    height: 48px;
    margin-top: -15px;
    font-size: 30px;
    padding-top: 8px;
    border-radius: 50%;
}
/* Indicators */
.carousel-indicators {
    position: absolute;
    top: auto;
    bottom: -30px;
    z-index: 15;
    width: 300px;
    text-align: center;
    list-style: none;
	-webkit-padding-start: 0;
	padding: 0;
    margin: 0 auto;
    left: calc(50% - 150px);
}
#carouselContainer .carousel-indicators li {
    border: 1px solid #ccc;
    background: #f5f5f5;
}
#carouselContainer .carousel-indicators .active {
    background-color: #E2E2E2;
    border: 1px solid #bbb;
}


/* Below carousel info section */
#product-page-content #product-tabs-container {
	padding-left: 10px;
	padding-right: 20px;
}

/* Files panel */
.table-ocs-file>thead>tr>th, 
.table-ocs-file>tbody>tr>td {
	text-align: left !important;
	width: 100%; 
	display: block; 
	height: 34px;
	border: 0px solid #ccc !important;
	border-top: 0px !important;
	padding: 3px;
}

/* Description th, td *
.table-ocs-file>thead>tr>th:nth-of-type(3), 
.table-ocs-file>tbody>tr>td:nth-of-type(3) {
	height: 68px;
	max-height: 96px;
}
*/

.table-ocs-file {
	display: grid;
	grid-template-columns: 240px 1fr;
}

.table-ocs-file>thead {
	grid-column: 1/2;
	grid-row: 1/2;
}
.table-ocs-file>tbody {
	grid-column: 1/3;
	grid-row: 1/2;
}
.table-ocs-file>tfoot {
	grid-column: 1/3;
	grid-row: 2/3;
	margin-top: 20px;
}
.table-ocs-file>tfoot>tr,
.table-ocs-file>tfoot>tr>th,
.table-ocs-file>tfoot>tr>td {
	width: 100%;
}

/* Hide table thead without info icon */
.table-ocs-file>thead>tr>th {
	visibility: hidden;
}
.table-ocs-file>thead>tr>th>a .glyphicon {
	visibility: visible !important;
	position: relative;
    left: 0;
    top: 26px;
}

.activerows,
.inactiverows {
	display: block;
	padding: 24px 0 22px 0;
	border-bottom: 1px solid #ddd;
}

.activerows>td::before,
.inactiverows>td::before {
	width: 224px;
	display: inline-block;
	font-weight: bold;
}
.activerows>td:nth-of-type(1)::before,
.inactiverows>td:nth-of-type(1)::before {
	content: "File (Click to download)";
}
.activerows>td:nth-of-type(2)::before,
.inactiverows>td:nth-of-type(2)::before {
	content: "Version";
}
.activerows>td:nth-of-type(3)::before,
.inactiverows>td:nth-of-type(3)::before {
	content: "Description";
}
.activerows>td:nth-of-type(4)::before,
.inactiverows>td:nth-of-type(4)::before {
	content: "Filetype";
}
.activerows>td:nth-of-type(5)::before,
.inactiverows>td:nth-of-type(5)::before {
	content: "Packagetype";
}
.activerows>td:nth-of-type(6)::before,
.inactiverows>td:nth-of-type(6)::before {
	content: "License";
}
.activerows>td:nth-of-type(7)::before,
.inactiverows>td:nth-of-type(7)::before {
	content: "Downloads";
}
.activerows>td:nth-of-type(8)::before,
.inactiverows>td:nth-of-type(8)::before {
	content: "Date";
}
.activerows>td:nth-of-type(9)::before,
.inactiverows>td:nth-of-type(9)::before {
	content: "Filesize";
}
.activerows>td:nth-of-type(10)::before,
.inactiverows>td:nth-of-type(10)::before {
	content: "OCS-Install";
}
.activerows>td:nth-of-type(11)::before,
.inactiverows>td:nth-of-type(11)::before {
	content: "DL";
}

/* Older versions table row margin top */
.inactiverows {
	display: block;
	margin-top: 20px;
}
/* Clear style from tbody */
.table-ocs-file>tbody>.inactiverows>td,
.table-ocs-file>tbody>.inactiverows>td:nth-of-type(3) {
	height: auto;
}

/* Button border radius */
.btn {
	border-radius: 4px;
}

/* Ratings panel */
#ratings-panel div:first-child {
	width: 100%;
}
#ratings-panel .bbtn {
	float: left !important;
	margin-right: 8px;
	margin-bottom: 4px;
	border: 2px solid #adadad;
}
#productRatingContainer > .productRating-rows-active:nth-of-type(1) h3 {
	display: block;
	padding-top: 120px;
}
#productRatingContainer .productRating-rows-active:nth-of-type(4) h3 {
	display: block;
	padding-top: 120px;
}

.glyphicon.spinning {
    float: left;
    margin-top: 9px;
    margin-right: 4px;
    margin-left: 8px;
}

/* Product comments - top pagination spacing */
#product-discussion .page-header h3 {
	margin-bottom: 48px !important;
}
#product-discussion .page-header div:first-child {
	margin-bottom: 8px !important;
}

/* Spinner comments */
#product-discussion .page-header .glyphicon.spinning {
    float: left;
    margin-top: 6px;
    margin-right: 8px;
    margin-left: 8px;
}

.comments-list {
	margin-bottom: 10px; /* Space between comments and bottom pagination */
}

.comments-list .user_name {
	border-bottom: 0px;
	margin-bottom: 10px;
}

.comments-list .media-body {
    border-bottom: 1px solid #eee;
}

#product-discussion .comments-list > .media .text {
    font-size: .9em;
    line-height: 1.6em;
}

.media .small {
	margin-top: 8px;
	padding: 4px 8px;
	border: 1px solid #eee;
	border-bottom: 0;
}

/* Divider line between Reply and Report buttons */
.comments-list .media .small > span {
	margin: 0 8px 0 4px;
    border-right: 1px solid #eee;
}
xxx.media .small a:nth-of-type(1) {
	padding-right: 8px;
    border-right: 1px solid #eee;
}

.product-add-comment button {
	color: #2673b0;
	margin-top: 4px !important;
    margin-bottom: 8px !important;
	padding: 6px 12px;
    border: 1px solid #eee !important;
    border-radius: 3px;
}
textarea {
	border-color: #2673b0;
}


/*** RIGHT SIDEBAR ***/
#product-maker {
    flex: 0 0 286px;
    width: 286px;
    min-width: 240px;
    float: right;
	background: #f5f5f5;
}

/* Inner padding for right sidebar - product maker info */
#product-maker .project-share-new {
    padding: 10px 15px 10px 10px;
}

/* Rounded corners on small blocks */
.project-share-new .prod-widget-box {
	border-radius: 2px;
	background: #f8f8f8;
	width: 97% !important;
}

/* Share icons */

/* Icons container */
#product-maker .project-share-new>.row {
    padding-left: 22px;
	margin-top: 4px;
    margin-bottom: -3px;
}

/* Fabcebook and Twitter */
.project-share-new a.facebook,
.project-share-new a.twitter {
	width: 58px;
	height: 24px;
	text-indent: -9999px;
	overflow: hidden;
	background-position: 50% !important;
	background-size: contain !important;
	border: 0;
	border-radius: 2px;
	padding: 0;
	margin-right: 5px;
}
.project-share-new a.facebook {
	background: url(https://i.imgur.com/gYqKHlO.png);
}
.project-share-new a.twitter {
	background: url(https://i.imgur.com/qj1APNM.png);
}
.project-share-new a.share-button:first-of-type {
	border-radius: 2px;
	margin-right: 6px;
}

/* Google Plus */
#___plus_0 {
	width: 64px !important;
	height: 24px !important;
	overflow: hidden;
	margin-left: -4px !important;
    visibility: inherit;
}
#___plus_0 iframe {
	visibility: inherit !important;
}
.project-share-new a.facebook:hover,
.project-share-new a.twitter:hover,
#___plus_0:hover {
	opacity: .8;
}

/* Maker name and icon */
#product-maker .project-share-new .prod-user .product-maker-summary {
    float: right;
    padding-right: 6px;
}
.product-maker-summary h5 {
	margin-top: 12px;
	margin-bottom: 10px;
}

/* Products thumbnails */
.product-row, .supporters-row {
    margin-top: 0;
}
.prod-widget-box .product-row .product-thumbnail {
    width: 56px;
    height: 56px;
    margin: 2px;
    padding: 0px;
    position: relative;
    /* float: right; */
}
.prod-widget-box .product-row .product-thumbnail img {
    border-radius: 4px;
    border: 1px solid #b2b2b2;
    height: 56px;
    width: 56px;
    padding: 0px;
}
.sidebar-content-section {
	margin: 8px 0 0 0;
}
.sidebar-content-section .row {
	margin: 0px auto auto 1px !important;
}

/* Details block */
.project-share-new .details > .row {
	margin: 0;
}

.project-share-new .details .row > span:nth-child(1) {
	width: 55%;
	padding: 0;
	display: inline-block;
}

.project-share-new .details .row > div /* Fix first element "Version"  */,
.project-share-new .details .row > span:nth-child(2) {
	width: 40%;
	padding: 0;
	display: inline-block;
}

/* Report spam */
.project-share-new .details > .row:last-of-type > div,
.project-share-new .details > .row:last-of-type > div a {
	display: block !important;
	width: 100% !important;
}
.project-share-new .details > .row:last-of-type > div a {
	padding: 4px 8px;
	border: 1px solid #ccc;
	text-align: center;
}
.project-share-new .details > .row:last-of-type > div a:hover {
	color: #E53935;
	background: #FFEBEE;
	border-color: #EF9A9A;
}

.project-share-new .details .row:last-child > div a {
	display: block;
	width: 100%;
	border: 1px solid #ccd4d8;
    padding: 4px 8px;
    background: #f5f5f5;
    text-align: center;
    margin-top: 8px;
}

.project-share-new .details .row:last-child > div a:hover {
	border: 1px solid #ddd;
    padding: 4px 8px;
    background: #fff;
}

.tag-element {
	background-image: none;
	box-shadow: none;
	background: #f5f5f5;
}


/*** MEDIA QUERY ***/


/* < 1279 */
@media only screen and (max-width: 1279px) {
	/* LEFT SIDEBAR */
	#product-page-content .sidebar-left {
		flex: 0 0 240px;
		width: 240px;
		min-width: 240px;
	}

	/*** MAIN CONTAINER ***/
	#product-main {
		flex: 1;
		min-width: 500px;
	}
	/*** RIGHT SIDEBAR ***/
	#product-maker {
		flex: 0 0 240px;
		width: 240px;
		min-width: 240px;
	}
	/* Right sidebar Product thumbnails margins */
    .prod-widget-box .product-row .product-thumbnail {
        margin: 4px;
    }
	#files-panel {
		overflow-x: auto; /* download table on small screens */
	}
}


/* < 1199 */
@media only screen and (max-width: 1199px) {
	#product-page-content {
		display: block;
  		flex-flow: row wrap;
  		justify-content: flex-end;
	}
	/* LEFT SIDEBAR */
	#product-page-content .sidebar-left {
		flex: 0 0 240px;
		width: 240px;
		min-width: 240px;
		order: 1;
	}

	/*** MAIN CONTAINER ***/
	#product-main {
		flex-basis: calc(100% - 250px);
		order: 2;
	}
	/*** RIGHT SIDEBAR ***/
	#product-maker {
		flex: 0 0 240px;
		width: 240px;
		min-width: 240px;
		flex-basis: calc(100% - 250px);
		order: 3;
	}
	/* Social icons */
	#product-maker .project-share-new>.row {
    	padding-left: 38px;
	}
}


/* < 779 */
@media only screen and (max-width: 779px) {
	#product-page-content {
	display: block;
    flex-flow: row wrap;
    justify-content: flex-start;
}
	/* LEFT SIDEBAR */
	#product-page-content .sidebar-left {
		flex-basis: 100%;
		order: 1;
	}

	/*** MAIN CONTAINER ***/
	#product-main {
		flex-basis: 100%;
		order: 2;
	}
	/*** RIGHT SIDEBAR ***/
	#product-maker {
		flex-basis: 100%;
		order: 3;
	}
}


/* < 972 */
@media only screen and (max-width: 972px) {
	#product-main {
		padding: 0 20px 0 10px;
	}
	#product-maker {
		padding: 0 20px 0 10px;
	}
	#product-about {
		width: 100%;
	}
	/* Maker sidebar report button */
	.project-share-new .details .row:last-child > div {
		width: 160px;
		float: right;
	}
	/* Details block */
	.project-share-new .details .row > span:nth-child(1) {
		width: 25%;
	}
	.project-share-new .details .row > div, .project-share-new .details .row > span:nth-child(2) {
		width: 70%
	}
}


/* < 810 */
@media only screen and (max-width: 810px) {
	#product-page-content #product-main-img #product-title-div .product-logo-container {
		margin-bottom: 10px;
		margin-top: 4px;
	}
}


/* < 748 */
@media only screen and (max-width: 748px) {
	#product-page-content .sidebar-left {
    	margin: 0 10px;
	}
	#product-main {
		padding: 0 20px 0 20px;
	}
	#product-page-content #product-main-img #product-title-div,
	#product-page-content #product-tabs-container {
		padding: 0;
	}
	
	#product-maker {
		padding: 0 20px 0 20px;
	}
	#product-maker .project-share-new {
		padding: 10px 0;
	}
	#product-maker .project-share-new>.row {
		padding-left: 0px;
		margin: 4px 0 -3px 0;
	}
	.project-share-new .prod-widget-box {
		width: 100% !important;
	}
	
}


/* < 540 */
@media only screen and (max-width: 540px) {
	#product-page-content .sidebar-left {
    	margin: 0 10px;
	}
	#product-main {
		padding: 0 20px 0 20px;
        min-width: 280px;
	}
    #product-title {
        position: relative;
        padding-left: 90px;
    	width: 100%;
    }
    #product-page-content #product-main-img #product-title-div .product-logo-container {
        margin-bottom: 10px;
        margin-top: 4px;
        position: absolute;
        top: 0;
        left: 0px;
	}
    .activerows > td::before, .inactiverows > td::before {
    	width: 100%;
    }
    .table-ocs-file > thead > tr > th, 
	.table-ocs-file > tbody > tr > td {
		height: auto;
	}
    .table-ocs-file > thead > tr > th > a .glyphicon {
    	visibility: hidden !important;
    }
}


/* < 460 */
@media screen and (max-width: 460px) {
	.carousel-indicators {
		width: 280px;
        left: calc(50% - 140px);
	}
}
