/* 
    Document   : DDListOrder.css
    Created on : 24.01.2012, 15:20:01
    Author     : Björ Schramke
    Description:
        Purpose of the stylesheet follows.
*/

div.workarea {
    float: left;
    padding: 10px;
}

div.workarea ul, li, label{
    padding: 0;
    margin: 0;
}

div.workarea ul{
    list-style: none;
    overflow: auto;
}

div.workarea ul.draglist{
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid gray;
    height: 240px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 200px;
}

div.workarea li{
    background-color: #D1E6EC;
    border: 1px solid #7EA6B2;
    margin: 1px 1px 1px 1px;
    padding: 1px;
    cursor: pointer;
}

