@CHARSET "UTF-8";

.ui-accordion .ui-accordion-header {
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}
#navigation ul {
	margin: 0px;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-bottom: 2px;
	overflow: hidden;
}
#navigation .ui-widget-content a {
	font-size: 10px;
	text-decoration: none;
	display: block;
	height: 20px;
	line-height: 20px;
	padding-left: 25px;
}

#navigation .ui-widget-content a:hover {
	/*text-decoration: underline;*/
	background-color: #aeaeae;
	color: #fff;
	cursor: pointer;
}

.ui-accordion-header .ui-state-active {
	background:#00a1d9 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) repeat-x scroll 50% 50%;
}