#backend-statistic a{
  cursor: pointer;
}

.pling-nav-tabs a{
  cursor: pointer;
}
.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
    float:left;
    margin-top:5px;
    margin-right:5px;    
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
 .chart {
    width: 700px;
    height: 450px;
    margin-bottom: 10px;
}

.chart_title {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.4em;
}

#tabContainer {
    width: 720px;
}

/*
   path {  stroke: #fff; }
    path:hover {  opacity:0.9; }
    rect:hover {  fill:blue; }
    .axis {  font: 10px sans-serif; }
    .legend tr{    border-bottom:1px solid grey; }
    .legend tr:first-child{    border-top:1px solid grey; }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .x.axis path {  display: none; }
    .legend{
        margin-bottom:76px;
        display:inline-block;
        border-collapse: collapse;
        border-spacing: 0px;
    }
    .legend td{
        padding:4px 5px;
        vertical-align:bottom;
    }
    .legendFreq, .legendPerc{
        align:right;
        width:50px;
    }   

    .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: blue ;
}

.x.axis path {
  display: none;
}

*/


.bar { fill: steelblue; }



.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#d3bar-member {
    display: block;
}

#d3bar-project {
    display: block;
}



.d3linepath text {
  font: 10px sans-serif;
}

.d3linepath .axis path,
.d3linepath .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3linepath .line {
  fill: none;
  stroke-width: 1.5px;
}

.d3linepath .label {
  text-anchor: middle;
}

.d3linepath .label rect {
  fill: #ECECEC;
}

.d3linepath .label-key {
  font-weight: bold;
}

table.tablestati {
    display: block;
    background-color: #ccc;
    margin-top: 40px;
    float: left;
    margin-left: 20px;
}

table.tablestati thead td {
    font-weight: bold;
    background-color: #fff;
}

table.tablestati td {
    padding: 1px;
    margin: 1px;
}

table.tablestati td.number {
    text-align: right;
    width: 80px;
    padding-right: 10px;
}


.d3linepath path {
    stroke: steelblue;
    stroke-width: 2;
  
}

.d3linepath .axis path,
.d3linepath .axis line {
  
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.d3linepath .legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}

#category-tree-container{
  max-height: 750px;

  overflow-y: auto;
}
#category-tree-container .product-counter{
    padding-left: 20px;
    color:#1879B6;
    font-size: smaller;
}
#category-tree-container  ul{
    list-style: none;
}

#category-tree-container  ul li span.submenu-toggle
{
    float: left;
    padding-right: 10px;    
    font-weight: bold;
    display: block;         
    min-width: 25px;min-height: 15px;
    cursor: default;  
}

/*multiline.css*/
.chart-wrapper {
    max-width: 950px;
    min-width: 804px;
    margin: 0 auto;
    background-color: #FAF7F7;
    float: left;
    display: block;
}

.chart-wrapper .inner-wrapper {
    position: relative;
    padding-bottom: 50%;
    width: 100%;
}

.chart-wrapper .outer-box {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.chart-wrapper .inner-box {
    width: 100%;
    height: 100%;
}

.chart-wrapper text {
  font-family: sans-serif;
  font-size: 11px;
}

.chart-wrapper p {
    font-size: 16px;
    margin-top:5px;
    margin-bottom: 40px;
}

.chart-wrapper .axis path,
.chart-wrapper .axis line {
    fill: none;
    stroke: #1F1F2E;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;

}
.chart-wrapper .axis path {
  stroke-width: 2px;
}

.chart-wrapper .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}

.chart-wrapper .legend  {
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 16px;
    padding: 10px 40px;
}
.chart-wrapper .legend > div {
    margin: 0px 25px 10px 0px;
    flex-grow: 0;
}
.chart-wrapper .legend p {
    display:inline;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 600;
}
.chart-wrapper .legend .series-marker {
    height: 1em;
    width: 1em;
    border-radius: 35%;
    background-color: crimson;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -0.16rem;
}

.chart-wrapper .overlay {
  fill: none;
  pointer-events: all;
}

.chart-wrapper .focus circle {
  fill: crimson;
  stroke: crimson;
  stroke-width: 2px;
  fill-opacity: 15%;
}
.chart-wrapper .focus rect {
    fill: lightblue;
    opacity: 0.4;
    border-radius: 2px;
}
.chart-wrapper .focus.line {
    stroke: steelblue;
    stroke-dasharray: 2,5;
    stroke-width: 2;
    opacity: 0.5;
}
@media (max-width:500px){
    .chart-wrapper .line {stroke-width: 3px;}
    .chart-wrapper .legend {font-size: 14px;}
}


/*payout monthly line chart*/
/*
.payoutCategoryLineChart path{ 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.payoutCategoryLineChart .axis path,
.payoutCategoryLineChart .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.payoutCategoryLineChart .legend {
    font-size: 16px;
    font-weight: bold;
    text-anchor: middle;
}
.payoutCategoryLineChart .overlay {
  fill: none;
  pointer-events: all;
}

.payoutCategoryLineChart .focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}
  
.payoutCategoryLineChart .hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}
*/