#product-main #product-main-img-container #product-title-div {
  padding-bottom: 15px;
}
#product-main #product-main-img-container #product-title-div .product-title #product-header-title .label {
  font-size: 13px;
  padding: 0.2em 0.6em 0.3em;
}
#product-main #product-main-img-container #product-title-div .product-title .product-ranking-container {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #2673b0;
}
#product-main #product-main-img-container #product-title-div .product-title .product_category {
  margin-bottom: 0;
}
#product-main #product-main-img-container #product-title-div .product-title .product_category > a:first-of-type {
  margin-bottom: 4px;
  display: inline-block;
}
#product-main #product-main-img-container #product-title-div .product-title .source-container .source {
  word-break: break-word;
}
#product-main #product-main-img-container #product-title-div .product-title .source-container .source-number {
  display: inline-block;
  margin-left: 3px;
  margin-top: -2px;
}
#product-main #product-main-img-container #product-title-div .product-title .source-container .source-link span.fa {
  margin-left: 2px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper {
  float: right;
  width: 135px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .score-container {
  float: left;
  padding: 0 0 0 10px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .score-container .score-circle-module {
  margin-top: 5px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .score-container .product-ratings-select-module {
  width: auto;
}
#product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .score-container .product-ratings-select-module select {
  width: 121px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .projectdetailRating {
  clear: right;
  width: 135px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .projectdetailRating #widget-rating {
  border: 0px !important;
}
#product-main #product-main-img-container #product-title-div .product-title-right .projectdetailRating #widget-rating .progress {
  margin-bottom: 0;
  height: 12px;
  background-color: transparent;
  box-shadow: none;
  padding: 2px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .projectdetailRating #widget-rating .bmIcXH {
  width: 52px;
  height: 52px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .projectdetailRating #widget-rating .bmIcXH .kaLHBk .kkSWyw {
  color: #38c838;
  font-size: 28px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .projectdetailRating #widget-rating .widget-rating-bottom {
  text-align: center;
}
#product-main #product-main-img-container #product-title-div .product-title-right .projectdetailRating {
  clear: right;
}
#product-main #product-main-img-container #product-title-div .product-title-right .projectdetailRating #widget-rating {
  border: 0px !important;
}
#product-main #product-main-img-container #product-title-div .product-title-right .product-heart-button-container .heart-button {
  text-align: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
}
#product-main #product-main-img-container #product-title-div .product-title-right .score-bar-module {
  width: 100%;
  float: left;
  padding-right: 10px;
}
#product-main #product-main-img-container #product-title-div .product-title-right .score-bar-module .score-bar-container {
  width: 102px;
  font-size: 11px;
  text-align: center;
  float: right;
}
#product-main #product-main-img-container #product-title-div .product-title-right .score-bar-module .score-bar-container .progress-line-container-line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#product-main #product-score-module-container.with-circle {
  float: left;
  margin-left: 108px;
}
#product-main .product-ratings-select-module {
  width: 100%;
  float: left;
}
#product-tabs-container {
  float: left;
  width: 100%;
}
#product-tabs-container #product-about article {
  float: left;
  width: 100%;
  margin: 10px 0 30px 0;
}
#product-tabs-container #product-about h3.product-update-heading {
  color: #2673b0;
  margin-bottom: 20px;
  margin-top: 0;
}
#product-tabs-container #product-about h3.product-update-heading .small {
  margin-left: 5px;
}
#product-tabs-container #product-changelog h3.product-update-heading {
  color: #2673b0;
  margin-bottom: 20px;
  margin-top: 0;
}
#product-tabs-container #product-changelog h3.product-update-heading .small {
  margin-left: 5px;
}
#product-tabs-container #product-files .product-files-table-container {
  overflow-x: auto;
}
#product-tabs-container #product-files table {
  font-size: 13px;
}
#product-tabs-container #product-files table .opendownloadfile {
  padding: 2px 5px;
}
#product-tabs-container #product-files table thead .glyphicon-question-sign {
  margin-left: 2px;
}
#product-tabs-container #product-files table tr.archived {
  color: #cccccc;
}
#product-tabs-container #product-files table tr.archived a {
  color: #cccccc;
}
#product-tabs-container #product-files table tr,
#product-tabs-container #product-files table td,
#product-tabs-container #product-files table th,
#product-tabs-container #product-files table tbody,
#product-tabs-container #product-files table tfoot,
#product-tabs-container #product-files table thead {
  white-space: nowrap;
}
#product-tabs-container #product-relationships .title {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
  margin-bottom: 10px;
}
.collectionProductsContainer {
  margin-bottom: 20px;
}
.collectionProductsContainer div.row-collection {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  margin-top: 10px;
}
.collectionProductsContainer div.row-collection .button-container-cell {
  position: relative;
}
.collectionProductsContainer div.row-collection .button-container-cell ul {
  width: 187px;
  margin-left: -5px;
}
.collectionProductsContainer div.row-collection .button-container-cell button {
  width: 100%;
}
.collectionProductsContainer div.row-collection .button-container-cell button .caret {
  margin-left: 3px;
}
div.row-collection:first-child {
  padding-top: 0px;
  border-top: 0px;
  margin-top: 0px;
}
div.row-detail {
  padding-top: 10px;
  font-size: small;
}
@media (max-width: 767px) {
  #products-ratings-container #product-ratings-summary .ratings-number-container {
    height: 40px;
  }
  .comments-header {
    margin-bottom: 25px !important;
  }
  .top-pagination-container .pagination-container {
    margin-top: 10px;
  }
  .tab-content {
    padding: 0 15px !important;
  }
  #product-page-content #product-tabs-container {
    padding: 0;
    margin: 0 -15px;
    width: calc(100% + 30px);
  }
  ul#tabs-menu {
    margin-bottom: 25px;
  }
  #product-main #product-main-img-container #product-title-div .product_category {
    margin-bottom: 6px !important;
  }
  #product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper {
    width: 100%;
  }
  #product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .score-container {
    width: 120px;
    padding: 0 12px;
    margin: 0 auto;
    float: none;
  }
  #product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .product-heart-button-container .heart-button {
    text-align: center;
    width: 90px;
    height: 90px;
  }
  #product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .product-heart-button-container .heart-button .plingheart {
    font-size: 90px;
  }
  #product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .product-heart-button-container .heart-button .heartnumber {
    top: -68px;
    font-size: 28px;
    width: 100%;
    padding: 0;
    text-align: center;
  }
  #product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .projectdtailHeart {
    margin: 0 auto;
    width: 90px !important;
    float: none;
    margin-bottom: 20px;
    height: 90px !important;
    margin-right: 3px;
  }
  #product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .projectdtailHeart .container-pling {
    width: 90px;
    position: relative;
  }
  #product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .projectdetailRating {
    width: 100%;
  }
  #product-main #product-main-img-container #product-title-div .product-title-right .product-title-right-wrapper .projectdetailRating #widget-rating {
    border: 0px !important;
    width: 100% !important;
    padding: 0;
    margin: 10px 0;
    text-align: center;
  }
}
.topics {
  padding-right: 17px;
}
.topic-tag {
  margin-right: 10px !important;
  margin-bottom: 0 !important;
}
#product-page-content #product-main-img #product-title-div div.projectdtailHeart {
  margin-right: 3px;
}
