#music-player-wrapper {
  position: relative;
  /*.player-content {
  
      span.group:first-of-type {
        display: none;
      }
  
      .music-player-controls {
        width: 72px;
        span {
          svg {
            margin-top: 5px;
          }
        }
      }
    }*/
}
#music-player-wrapper.mobile .audio-lists-panel {
  height: 100%;
  padding-bottom: 60px;
}
#music-player-wrapper.mobile .audio-lists-panel .audio-lists-panel-content {
  width: 100% !important;
  height: calc(100% - 56px);
  transform-origin: bottom center;
}
#music-player-wrapper.mobile #music-sponsor-display {
  width: 100%;
  left: 0;
}
#music-player-wrapper .progress-bar {
  margin: -3px 20px 0 20px;
}
#music-player-wrapper .progress-bar .rc-slider {
  height: 20px;
  padding: 8px 0;
}
#music-player-wrapper .progress-bar .rc-slider .rc-slider-step {
  height: 20px;
}
#music-player-wrapper .audio-lists-panel .audio-lists-panel-header .close-btn {
  display: block;
  margin-right: 30px;
}
#music-player-wrapper .audio-lists-panel .audio-lists-panel-header .line,
#music-player-wrapper .audio-lists-panel .audio-lists-panel-header .delete-btn {
  display: none;
}
#music-player-wrapper .audio-lists-panel .audio-item .group.player-delete {
  display: none;
}
#music-player-wrapper .audio-lists-panel .audio-lists-panel-content ul {
  text-align: left;
}
#music-player-wrapper.desktop .music-player-panel {
  height: 100%;
  width: 100%;
}
#music-player-wrapper.desktop .music-player-panel .panel-content {
  display: block !important;
  padding: 20px !important;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .img-content {
  width: 100%;
  height: 200px;
  background-size: contain;
  display: block;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 0;
  box-shadow: none;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .progress-bar-content {
  padding: 0;
  flex: none;
  margin-bottom: 20px;
  display: block;
  float: left;
  width: 100%;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .progress-bar-content .audio-main {
  margin-top: 20px;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content {
  padding: 0;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content .play-btn {
  padding: 0 5px;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group {
  margin: 0 5px;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.audio-download,
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.hide-panel,
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.lyric-btn {
  display: none;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.reload-btn {
  order: 10;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.theme-switch {
  order: 11;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.play-sounds .sound-operation {
  width: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.play-sounds .sound-operation .rc-slider-handle {
  margin-left: -14px;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.play-sounds .sounds-icon {
  margin-right: 0;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.play-sounds:hover .sounds-icon {
  margin-right: 15px;
}
#music-player-wrapper.desktop .music-player-panel .panel-content .player-content > .group.play-sounds:hover .sound-operation {
  opacity: 1;
  display: block;
  width: 100px;
}
#music-player-wrapper.desktop .audio-lists-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  padding-bottom: 60px;
  display: none !important;
}
#music-player-wrapper.desktop.show-playlist .music-player-panel {
  width: 50%;
}
#music-player-wrapper.desktop.show-playlist .audio-lists-panel {
  display: block !important;
  height: 360px;
}
#music-player-wrapper .react-jinke-music-player-mobile {
  height: inherit;
}
#music-player-wrapper .react-jinke-music-player-mobile .react-jinke-music-player-mobile-play-model-tip,
#music-player-wrapper .react-jinke-music-player-mobile .react-jinke-music-player-mobile-singer,
#music-player-wrapper .react-jinke-music-player-mobile .react-jinke-music-player-mobile-switch,
#music-player-wrapper .react-jinke-music-player-mobile .react-jinke-music-player-mobile-header > .right.item {
  display: none;
}
#music-player-wrapper .react-jinke-music-player-mobile .react-jinke-music-player-mobile-cover {
  width: 145px;
  height: 145px;
}
#music-player-wrapper #music-sponsor-display {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 50%;
  height: 65px;
  z-index: 1000;
  color: white;
  background-color: #454951;
  padding: 5px;
  text-align: center;
  font-size: 10px;
}
#music-player-wrapper #music-sponsor-display span {
  display: block;
  float: left;
  width: 100%;
}
#music-player-wrapper #music-sponsor-display span {
  text-align: center;
}
#music-player-wrapper #music-sponsor-display span img {
  border-radius: 100%;
  border: 2px solid #c1c1c1;
  width: 30px;
  height: 30px;
  margin-top: 3px;
  cursor: pointer;
}
#music-player-container {
  width: 100%;
  height: 100%;
}
#music-player-container * {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}
#music-player-container svg {
  font-size: 26px;
  cursor: pointer;
}
#music-player-container .rc-slider-track {
  background-color: #31c27c !important;
}
#music-player-container .rc-slider-handle {
  border-color: white;
  background-color: #31c27c;
  margin-left: 0 !important;
}
#music-player-container.light svg {
  color: #31c27c;
}
#music-player-container.light #music-player-control-panel {
  box-shadow: 0 1px 2px 0 rgba(0, 34, 77, 0.05);
}
#music-player-container.light a {
  color: #32353d !important;
}
#music-player-container.light #music-player-container #music-player-playlist-panel #music-player-playlist ul li {
  background-color: #fff;
  border-bottom: 1px solid rgba(220, 220, 220, 0.26);
}
#music-player-container.light #music-player-container #music-player-playlist-panel #music-player-playlist ul li.is-playing,
#music-player-container.light #music-player-container #music-player-playlist-panel #music-player-playlist ul li.is-paused {
  background-color: #fafafa !important;
}
#music-player-container.dark {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
#music-player-container.dark svg {
  color: white;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#music-player-container.dark svg:hover {
  color: #31c27c;
}
#music-player-container.dark #music-player-container #music-player-playlist-panel #music-player-playlist ul li {
  background-color: #40444b;
  border-bottom: #40444b;
}
#music-player-container.dark #music-player-container #music-player-playlist-panel #music-player-playlist ul li.is-playing,
#music-player-container.dark #music-player-container #music-player-playlist-panel #music-player-playlist ul li.is-paused {
  background-color: #454951;
}
#music-player-container #music-player-control-panel {
  width: 100%;
  float: left;
  padding: 10px;
  box-shadow: 0 0 3px #080808;
  position: absolute;
  z-index: 1111;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#music-player-container #music-player-control-panel .music-player-cover figure {
  padding: 10px 0;
  text-align: center;
  height: 221px;
}
#music-player-container #music-player-control-panel .music-player-cover figure img {
  cursor: auto;
}
#music-player-container #music-player-control-panel .music-player-track-title h2 {
  margin: 10px 0;
  text-align: center;
  font-size: 16px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-all;
  white-space: pre;
}
#music-player-container #music-player-control-panel .music-player-time-display {
  width: 100%;
  padding: 15px 50px 10px;
  font-size: 12px;
  float: left;
  position: relative;
}
#music-player-container #music-player-control-panel .music-player-time-display > span {
  display: block;
  float: left;
  height: 20px;
}
#music-player-container #music-player-control-panel .music-player-time-display > span.current-track-time {
  position: absolute;
  left: 10px;
}
#music-player-container #music-player-control-panel .music-player-time-display > span.current-track-progress {
  width: 100%;
  position: relative;
  padding: 0 10px;
}
#music-player-container #music-player-control-panel .music-player-time-display > span.current-track-duration {
  position: absolute;
  right: 10px;
}
#music-player-container #music-player-control-panel .music-player-time-display > span.current-track-duration .infinite {
  font-size: 29px;
  margin-top: -13px;
  display: block;
}
#music-player-container #music-player-control-panel .music-player-controls-bar {
  width: 100%;
  text-align: center;
  float: left;
  padding: 10px 0;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper {
  width: 100%;
  float: left;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div {
  float: left;
  height: 30px;
  position: relative;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.music-player-audio-control span {
  display: block;
  padding: 0 4px;
  float: left;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.playlist-toggle-container {
  float: right;
  padding: 3px;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.playlist-toggle-container .playlist-toggle-button {
  background: rgba(0, 0, 0, 0.2);
  padding: 3px 12px;
  font-size: 12px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.theme-switch-wrapper {
  padding: 2px 5px;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.theme-switch-wrapper .rc-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  padding: 0;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  box-sizing: border-box;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.theme-switch-wrapper .rc-switch:focus {
  box-shadow: none !important;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.theme-switch-wrapper .rc-switch .rc-switch-inner {
  color: #fff;
  font-size: 12px;
  position: absolute;
  left: 24px;
  top: 0;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.theme-switch-wrapper .rc-switch::after {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 2px;
  top: 1px;
  border-radius: 50% 50%;
  background-color: #fff;
  content: " ";
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.theme-switch-wrapper .rc-switch.checked {
  background-color: #31c27c !important;
  border: 1px solid #31c27c;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.theme-switch-wrapper .rc-switch.checked .rc-switch-inner {
  left: 6px;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper > div.theme-switch-wrapper .rc-switch.checked::after {
  left: 39px;
  background-color: white;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control {
  float: right;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control span {
  display: block;
  float: left;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control .volume-bar-container {
  width: 26px;
  display: block;
  float: left;
  height: 0;
  padding: 0 6px;
  position: absolute;
  bottom: 30px;
  background-color: rgba(62, 61, 61, 0.8);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control .volume-bar-container .rc-slider {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control .volume-bar-container .rc-slider .rc-slider-handle {
  left: 0;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control .volume-bar-container:hover .rc-slider {
  opacity: 1;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control:hover .volume-bar-container {
  overflow: hidden;
  height: 100px;
  padding: 10px 6px 15px;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control:hover .volume-bar-container .rc-slider {
  opacity: 1;
}
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control.is-muted .rc-slider-track,
#music-player-container #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-volume-control.is-muted .rc-slider-handle {
  opacity: 0;
}
#music-player-container #music-player-playlist-panel {
  width: 0%;
  height: 100%;
  float: right;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#music-player-container #music-player-playlist-panel #music-player-playlist-header {
  height: 50px;
  padding: 0 75px 0 20px;
  width: 100%;
  line-height: 50px;
  text-align: left;
  background: rgba(0, 0, 0, 0.05);
}
#music-player-container #music-player-playlist-panel #music-player-playlist-header h2 {
  margin: 0;
  line-height: 50px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-all;
  white-space: pre;
}
#music-player-container #music-player-playlist-panel #music-player-playlist-header .toggle-playlist {
  position: absolute;
  right: 50px;
  top: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  height: 19px;
  line-height: 10px;
  padding: 5px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
#music-player-container #music-player-playlist-panel #music-player-playlist {
  width: 100%;
  height: auto;
  float: left;
  padding-bottom: 60px;
  height: calc(100% - 50px);
}
#music-player-container #music-player-playlist-panel #music-player-playlist ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: auto;
  float: left;
  width: 100%;
}
#music-player-container #music-player-playlist-panel #music-player-playlist ul li {
  width: 100%;
  float: left;
  text-align: left;
  height: 46px;
  line-height: 50px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: #40444b;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#music-player-container #music-player-playlist-panel #music-player-playlist ul li a {
  display: block;
  height: inherit;
  font-size: 14px;
  padding: 0 20px 0 60px;
  float: left;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-all;
  white-space: pre;
  color: white;
}
#music-player-container #music-player-playlist-panel #music-player-playlist ul li.is-playing,
#music-player-container #music-player-playlist-panel #music-player-playlist ul li.is-paused,
#music-player-container #music-player-playlist-panel #music-player-playlist ul li:hover,
#music-player-container #music-player-playlist-panel #music-player-playlist ul li:active {
  background-color: rgba(0, 0, 0, 0.2);
}
#music-player-container #music-player-playlist-panel #music-player-playlist ul li svg {
  font-size: 22px;
  left: 21px;
  position: absolute;
  top: 13px;
}
#music-player-container #music-player-playlist-panel #music-player-playlist ul li:hover svg {
  color: #31c27c;
}
#music-player-container #music-player-playlist-panel #music-sponsor-display {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 50%;
  height: 65px;
  z-index: 1000;
  /* color: white; */
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  font-size: 10px;
}
#music-player-container #music-player-playlist-panel #music-sponsor-display span {
  display: block;
  float: left;
  width: 100%;
}
#music-player-container #music-player-playlist-panel #music-sponsor-display span {
  text-align: center;
}
#music-player-container #music-player-playlist-panel #music-sponsor-display span img {
  border-radius: 100%;
  border: 2px solid #c1c1c1;
  width: 30px;
  height: 30px;
  margin-top: 3px;
  cursor: pointer;
}
#music-player-container.show-playlist #music-player-control-panel {
  width: 50%;
  height: 100%;
}
#music-player-container.show-playlist #music-player-playlist-panel {
  width: 50%;
  height: 100%;
  opacity: 1;
}
#music-player-container.is-mobile #music-player-control-panel {
  width: 100% !important;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-track-title h2 {
  margin: 15px 0;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-cover figure {
  height: 135px;
  width: 135px;
  margin: 50px auto;
  border-radius: 100%;
  border-radius: 50%;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  animation: fromTo 350ms cubic-bezier(0.43, -0.1, 0.16, 1.1) forwards;
  overflow: hidden;
  transition: box-shadow, border 350ms cubic-bezier(0.43, -0.1, 0.16, 1.1);
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar {
  padding: 0;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper {
  width: 100%;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-audio-control {
  display: table;
  width: 240px;
  height: auto;
  margin: 0 auto;
  float: none;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-audio-control span {
  padding: 0 16px !important;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-audio-control .play-icon,
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-audio-control .pause-icon {
  font-size: 60px;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-audio-control .prev-icon,
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .music-player-audio-control .next-icon {
  font-size: 40px;
  margin-top: 8px;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .bottom-controls {
  float: left;
  height: 30px;
  width: 100%;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .bottom-controls .music-player-volume-control {
  float: left;
  width: 50%;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .bottom-controls .music-player-volume-control .volume-bar-container {
  opacity: 1;
  position: relative;
  bottom: 0;
  left: 0;
  width: calc(100% - 50px);
  height: 26px;
  padding: 6px 10px 6px 10px;
  background: transparent;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .music-player-controls-wrapper .bottom-controls .music-player-volume-control .volume-bar-container .rc-slider {
  opacity: 1;
}
#music-player-container.is-mobile #music-player-control-panel .music-player-controls-bar .playlist-toggle-container {
  width: 50%;
  float: right;
  text-align: right;
}
#music-player-container.is-mobile #music-player-playlist-panel {
  width: 100% !important;
  height: 100%;
  position: absolute;
  top: 360px;
  background-color: inherit;
  z-index: 1112;
}
#music-player-container.is-mobile #music-player-playlist-panel #music-player-playlist ul li svg {
  left: 275px;
}
#music-player-container.is-mobile #music-player-playlist-panel #music-player-playlist ul li a {
  padding: 0 75px 0 50px;
  font-size: 12px;
}
#music-player-container.is-mobile.show-playlist #music-player-playlist-panel {
  top: 0;
}
