out: ../css/cat-tree.css, sourcemap: true, compress: true
@import "elements.less";

.old-cat-tree-container {
  display: none;
}

.mobile-menu-item {
  padding: 5px;
  height: auto;
  display: block;
  width: 100%;
  float: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

#category-tree-container {
  width: 100%;
  float: left;
  margin-bottom: 15px;

  ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
    float: left;
    font-size: 12px;

    li {
      width: 100%;
      padding: 2px 0;
      float: left;

      a {
        display: block;
        width: 100%;
        float: left;
        background-color: transparent;
        color: #2673b0;
        padding-left: 5px;
        padding-right: 40px;
        position: relative;
        .transition();

        &:hover {
          background-color: #60bcff;
          color: #ffffff;
          font-weight: bold;
        }


        span.title {
          display: block;
          width: 100%;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        span.product-counter {
          position: absolute;
          right: 5px;
          float: right;
        }
      }

      ul {
        padding-left: 10px;
      }

      &.active {
        > a {
          background-color: #60bcff;
          color: #ffffff;
        }
      }
    }
  }

  #slected-category-tree-item {
    .mobile-menu-item;

    a {
      display: block;
      float: left;
      padding: 0 5px 0 20px;;
      position: relative;

      &::before {
        content: ">";
        position: absolute;
        display: block;
        left: 5px;
      }

      &:first-child {
        padding-left: 0;
        &::before {
          content: "";
        }
      }
    }
  }

  #categoryTree.tablet {
    ul {
      li {
        a {
          .mobile-menu-item;
        }
      }
      &.main-list {
        border: 0;
      }
    }
  }

}

#product-page-content,
#products-wrapper {
  #category-tree-container {
    ul.main-list {
      border: 1px solid #ccc;
      border-radius: 3px;
      box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
      background-color: white;
      padding: 5px 0;
    }
  }
}
