out: ../css/community.css, sourcemap: true, compress: true
@import "elements.less";

#community-page {
  font-size: 14px;

  #community-page-header {
    text-align: center;
    width: 100%;
    float: left;
    margin-bottom: 20px;

    #community-page-header-banner {
      display: table;
      margin: 0 auto;
      float: none;
      background: #fff;
      border: 1px solid #e4e4e4;
      padding: 0;
      border-radius: 10px;

      #header-banner-top {
        padding: 1em;
        font-size: 1em;

        .header-banner-row {
          margin-bottom: 10px;

          p {
            margin: 0;
            font-size: 2em;
          }

          span {
            font-size: 12px;
          }
        }

        p {

        }
      }

      #header-banner-bottom {
        padding: 1em;
        background: rgba(231,231,231,.4);
        border-top: 1px solid #e4e4e4;
        border-radius: 0 0 9px 9px;

        .center {
          font-size: 14px;
          .btn {
            margin-right: 10px;
          }
        }
      }
    }
  }

  #community-page-tabs-container {
    width: 100%;
    float: left;

    #tabs-menu {
      float: left;
      width:100%;

      .tab-menu-item {
        .transition();
        float: left;
        border-bottom: 2px solid transparent;
        padding: 0 10px;

        a {
          .transition();
          font-size: 13px;
          padding: 10px 15px;
          cursor: pointer;
          display: block;
          color:#777;
        }

        &:hover {
          a {
            color: #2673b0;
          }
        }
        &.active {
          a {
            color: #2673b0;
            font-weight: bold;
          }
          border-bottom-color: #2673b0;
        }
      }
    }
  }
}
