out: ../css/header.css, sourcemap: true, compress: true
@import "elements.less";

#site-header-container {
  display: none;
  font-family: Arial,sans-serif;
}

#site-header {
  padding: 0 4%;
  font-size: 14px;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #site-header-wrapper {
    position: relative;
    width: 100%;
    float: left;
    height: 100%;

    #site-header-logo-container {
      position: absolute;
      > a {
        width: 100%;
        display: block;
        img {
          width: 100%;
        }
      }
    }
    #site-header-store-name-container {
      float: left;
      height: 100%;
      padding: 50px 55px 0;
      font-size: 24px;
      > a {
        color: white;
        &:hover {
          color: #337ab7;
        }
      }
    }
    #site-header-right {
      float: right;
      height: 100%;

      #site-header-search-form {
        float: left;
      }

      #search-form {
        height: 25px;
        padding: 0;
        margin: 6.5px 15px;
        line-height: 25px;
        position: relative;

        input[type="text"]{
          width: 16em;
          height: 25px;
          padding: 0;
          border: 1px solid #fff;
          margin-bottom: -1px;
          padding-right: 30px;
          text-indent: 5px;
          color: #6a7686;
          float: left;
          border-radius: 6px;
          box-shadow: none;
        }

        > a {
          top: 2px;
          right: 0;
          display: block;
          width: 25px;
          height: 25px;
          background-image: url(/theme/flatui/img/icon-search-input-2.png);
          background-position: center center;
          position: absolute;
          cursor: pointer;
        }
      }

      #site-header-user-menu-container {
        float: right;
        #user-menu-toggle {
          position: relative;
          width: 135px;
          height: 40px;
          float: right;
          padding-left: 60px;
          cursor: pointer;
          line-height: 40px;

          span {
            color:white;
          }

          &:hover {
            span {
              color: black;
            }
          }
        }
      }

      #site-header-right-bottom {
        height: 52px;
        width: 100%;

        #site-header-login-menu {
          width: 100%;
          float: left;
          height: 100%;

          ul {
            position: absolute;
            bottom: 0px;
            display: inline-table;
            list-style-type: none;
            margin: 0;
            padding: 0;
            z-index: 999;
            right: 0;

            li {
              background-color: #609dca;
              border-color: #a3acfd;
              border-image: none;
              border-radius: 5px 5px 0 0;
              border-style: solid solid none;
              border-width: 2px 2px 0;
              height: 24px;
              line-height: 24px;
              margin-right: 2px;
              float: left;

              a {
                float: left;
                display: block;
                height: inherit;
                line-height: inherit;
                padding: 0 20px;
                font-size: 13px;
                color: white;
              }

              &.active {
                background: #60bcff none repeat scroll 0 0;
              }
            }
          }
        }
      }
    }
  }
}
