out: ../css/homepage.css, sourcemap: true, compress: true
@import "elements.less";


.ajax-loader {
  height: 24px;
  width: 24px;
  background-image: url('../img/ajax-loader.gif');
  background-position: center center;
  background-repeat: no-repeat;
}

.startpage-store {
  background-color: #f1f1f1;
  position: relative;
  padding-right: 320px;

  .sidebar-left {
    border: 0;
    float: left;
    width: 20%;
    padding: 20px 15px 20px 15px;
    flex: 1;
  }

  .content {
    padding: 15px 30px 0 30px;
    min-width: 400px !important;
    border-left: 1px solid #ccc;
    background-color: white;
    float: left;
    width: 80%;
  }

  .sidebar-right {
    min-width: auto !important;
    width: 320px;
    height: 100%;
    float: right;
    padding: 20px 15px;
    position: absolute;
    top: 0;
    right:0;
  }
}

.score-info {
  text-align: center;

  .score-number {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  .score-bar-container {
    width: 100%;
    height: 10px;
    background: #ccc;
    margin-bottom: 5px;

    .score-bar {
      height: 9px;
      background-color: #30c830;
      border-bottom: 1px solid darken( #30c830,5%);
    }
  }
}

#opendesktop-homepage {
  .container {
      width: 100% !important;
      max-width: 100% !important;
      padding: 0;
  }

  .section {
    &:last-of-type {
      .container {
        .product-carousel {
          border-bottom: 0;
        }
      }
    }
  }
}

#spotlight-product {
  width: 100%;
  font-size: 14px;
  max-width: 800px;
  display: block;
  margin: 0 auto;

  .container {
    padding-left: 300px;
    height: 230px;
    position: relative;
    border: 1px solid #DFDCDA;
    border-radius: 5px;

    .spotlight-image {
      position: absolute;
      top: 0;
      left: 0;
    }

    .spotlight-info {
      float: left;
      padding: 10px;
      width: 100%;
      height: 230px;
      overflow: hidden;
      padding-bottom: 30px;

      .spotlight-info-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
      }

      .featured-label {
        position: absolute;
        top: 0;
        right: 0;
        height: auto;
        padding: 5px;
        border-radius: 0 4px 0 4px;
        font-size: 12px;
        background-color: #5bc0de;
        color: white;
      }

      .info-top {
        padding-right: 40%;
        position: relative;
        margin-bottom: 20px;

        h2,h3 {
          margin: 0;
          font-weight: normal;
        }

        h2 {
          font-size: 15px;
          margin-bottom: 3px;
        }

        h3 {
          font-size: 13px;

        }

        .user-info {
          margin: 20px 0 0 0;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }

        .score-info {
          width: 40%;
          position: absolute;
          top: 20px;
          right: 0;
        }
      }

      .spotlight-menu {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px;

        a {
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }
}

#spotlight-user-container {

  #spotlight-user {

    .user-container {
      padding-left: 90px;
      position: relative;
      margin-bottom: 10px;
      width: auto;
      height: 80px;
      display: table;
      margin: 0 auto;

      figure {
        border: 5px solid #eee;
        float: left;
        margin-right: 10px;
        border-radius: 100%;
        overflow: hidden;
        width: 80px;
        height: 80px;
        position: absolute;
        left: 0;
        top: 0;

        img {
          width: 100%;
          height: 100%;
        }
      }

      h2 {
        margin: 0;
        height: 80px;
        line-height: 80px;
        font-size: 24px;
      }
    }

    .products-container {
      background: #eee;
      border-radius: 5px;
      overflow: hidden;
      display: table;
      margin: 10px auto 20px auto;
      border: 1px solid #ccc;

      .spotlight-user-product {
        float: left;
        overflow: hidden;
        position: relative;

        figure {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .product-title-overlay {
          padding: 5px;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 100;
          width: 100%;

          .product-title {
            padding: 5px 10px;
            background-color: rgba(0,0,0,0.5);
            color: white;
            min-height: 44px;
            font-size: 14px;
          }
        }

        .product-plings-counter {
          position: absolute;
          top: 5px;
          left: 5px;
          padding: 3px;
          background: rgba(0,0,0,0.5);
          border-radius: 17px;
          color: white;
          font-size: 12px;
          padding-right: 10px;

          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
            float: left;
          }

          span {
            display: block;
            height: 100%;
            float: left;
            line-height: 20px;
          }
        }
      }
    }
  }

  .spotlight-user-next {
    padding: 5px 10px;
    background-color: #2673b0;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  }

  #loading-container {
    width: 100%;
    padding: 120px 0;

    .ajax-loader {
      display: table;
      margin:  0 auto;
    }
  }
}

.content-version-two {
  padding: 0 !important;

  #main-content,
  #carousel-module-container {
    padding: 0 30px;
    float: left;
    width: 100%;
  }

  #main-content {
    background-color: #f9f6f6;
    border-bottom: 1px solid #eee;
  }
}

@media (min-width:900px) and (max-width:1100px){
  .startpage-store {
    .sidebar-left {
      width: 100%;
      flex: none;
      border-bottom: 1px solid #ccc;
    }
    .content {
      width: 100%;
    }
  }
}

@media (min-width:700px) and (max-width:900px){
  .startpage-store {
    display: block;
    .sidebar-left {
      width: 100%;
      flex: none;
      border-bottom: 1px solid #ccc;
    }
    .content {
      width: 100%;
      #spotlight-product {
        .container {
          padding-left: 0;
          height: auto;
          max-width: 100%;

          .spotlight-image {
            position: relative;
            border-bottom: 1px solid #ccc;
            max-width: 100%;

            img {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width:700px){
  .startpage-store {
    display: block;
    padding-right: 0;

    .sidebar-left {
      width: 100%;
      flex:none;
      border-bottom: 1px solid #ccc;
    }

    .content {
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding: 10px;

      #spotlight-product {
        .container {
          padding-left: 0;
          height: auto;
          width: 100%;

          .spotlight-image {
            position: relative;
            border-bottom: 1px solid #ccc;
            max-width: 100%;

            img {
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }

    .sidebar-right {
      border:0;
      width: 320px;
      position: relative;
      margin: 0 auto;
      display: table;
      float: none;
    }
  }
}

@media (max-width:401px){
  #spotlight-product {
    max-width: 380px;
    .spotlight-image {
      max-width: 380px;
    }
  }
}
