 out: ../css/metaheader.css, sourcemap: true, compress: true

@import "elements.less";

body {
  padding-top: 34px;

  .navbar-gitlab {
    top: 34px;
  }

  &.ui-indigo  {
    #metaheader {
      position: fixed;
    }
  }

  &.navigation-topics {
    #metaheader #metaheader-nav #user-context-menu-container .user-dropdown .th-icon {
      margin-top: -6px;
    }
    #metaheader #metaheader-nav #user-login-menu-container .user-dropdown .dropdown-toggle img {
      margin-top: -7px;
    }
  }
}

#metaheader {
  float: left;
  width: 100%;
  height: 34px;
  font-family: "Helvetica","Arial",sans-serif !important;
  font-size: 14px !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001;
  background-color: white;

  * {
    outline: none !important;
    box-sizing: border-box;
  }

  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-color: white;

    &.dropdown-menu-right {
      right: 0;
      left: auto;
    }

    li {
      padding: 0;
    }

    li>a:hover,
    .active>a,
    .active>a:hover {
        color: #222;
        text-decoration: none;
        background-color: #eee !important;
    }
  }

  .metamenu {
    height: 34px;
  }

  #metaheader-nav {
    width: 100%;
    float: left;
    height: 34px;

    .btn-metaheader {
      padding: 0 12px !important;
      border-radius: 2px !important;
      color: white !important;
      font-size: 12px !important;
      height: 26px !important;
      line-height: 25px !important;
      font-weight: bold;
      border: 1px solid #3079ed;
      background: -webkit-linear-gradient(top, #4387fd, #4683ea);
      margin-top: -2px;
    }

    #user-menu-container {
      float: right;
      height: 34px;
    }

    ul.metaheader-menu {
      padding: 0;
      margin: 0;
      list-style-type: none;

      > li {
        float: left;
        padding: 5px;

        > a {
          color: #6a7686;
          border-radius: 5px;
          padding: 5px;
          color: #6a7686;
          border-radius: 5px;
          height: 24px;
          line-height: 24px;

          &:active,
          &:hover {
            background-color: #eee;
            text-decoration: none;
          }
        }

        &.active {

          > a {
            background-color: #eee;

            img {
              margin-right: 5px;
            }
          }
        }

        .dropdown-menu {
          &::before {
            content: "";
            position: absolute;
            right: 356px;
            top: -8px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 8.5px 8.5px;
            border-color: transparent transparent #b7bcc4 transparent;
            border-bottom-color: #fff;
            border-style: dashed dashed solid;
            z-index: 1;
          }
        }
      }

      &#domains-menu {
        margin-left: 10px;

        > li {
          padding-left: 0;

          > a {
            margin: 0 10px 0 5px;
            cursor: pointer;
          }

          &::after {
            content: "•";
            color: #E2E2E2;
          }

          &:last-of-type {

            &::after {
              content: "";
            }
          }

          &.dropdown {

            > ul.dropdown-menu {
              margin-left: 0;
              margin-top: -9px;
            }
          }

          &#domains-dropdown-menu {
            position: relative;
            cursor: pointer;
            z-index: 1000;

            &.open {
              .dropdown-menu {
                display: block;
              }
            }

            .dropdown-menu {
              width: 400px;
              top: 45px;
              right: -260px;
              min-height: 296px;
              bottom: auto;

              &::before {
                right: 356px;
              }

              .submenu-container {
                width: 50%;
                float: left;
                height: auto;

                a.groupname {
                  cursor: default;
                  height: 24px;
                  line-height: 24px;

                  &:hover {
                    background-color: white !important;
                  }
                }

                ul {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;

                  li {

                    a {
                      padding: 3px 20px;
                      font-size: 12px;
                      color: black;
                    }
                    ul {
                      margin-bottom: 10px;
                      li {
                        height: 24px;
                        line-height: 24px;
                        a {
                          padding: 0px 30px;
                          display: block;
                          width: 100%;
                          height: 24px;
                          line-height: 24px;
                        }
                        &:hover {
                          background-color: #eee;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &#discussion-boards,
          &#more-dropdown-menu {

            position: relative;
            cursor: pointer;
            z-index: 1000;

            &.open {
              .dropdown-menu {
                display: block;
              }
            }

            .dropdown-menu {
              width: 200px;
              top: 45px;
              right: -43px;
              min-height: 84px;

              &::before {
                right: 156px;
              }

              li {
                padding: 0;

                a {
                  margin: 0;
                  font-size: 13px;
                  height: 24px;
                  line-height: 24px;
                  padding: 0 20px;
                  border-radius: 0;
                }
              }
            }
          }

          &#more-dropdown-menu {
            > a {
              cursor: pointer;
            }

            .dropdown-menu {
              left: -6px;
            }
          }
        }
      }

      &#user-menu {
        margin-right: 10px;

        > li {

          &#user-login-container {
            padding: 5px;
            margin-top: 1px;
          }
        }
      }
    }

    .user-dropdown {
      position: relative;
      height: 40px;
      z-index: 1000;

      &.open,
      &.show {

        .dropdown-menu {
          display: block;
          right: -6px;
        }
      }

      .dropdown-toggle {
        padding: 0;
        background: none !important;
        background-color: white;
        color: #6a7686;
        border: 0;

        &:active {
          background-color: white;
          box-shadow: none;
          outline: none;
        }

        .glyphicon {
          font-size: 16px;
          top: 1px;
          font-style: normal;
          font-weight: 100;
          margin: 0 5px;
          margin-top: 2px;
        }
      }

      .dropdown-menu {
        border-radius: 0;
        padding: 0;
        width: 320px;
        top: 40px;
        bottom: auto !important;
        background: #fff;
        border: 1px solid #ccc;
        border-color: rgba(0,0,0,0.2);
        color: #000;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        box-sizing: border-box !important;

        &::before {
          content: "";
          position: absolute;
          right: 6px;
          top: -8px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 8.5px 8.5px;
          border-color: transparent transparent #b7bcc4 transparent;
          border-bottom-color: #fff;
          border-style: dashed dashed solid;
          z-index: 1;
        }

        li {
          float: left;
          box-sizing: border-box !important;
        }
      }
    }

    #user-context-menu-container {

      .user-dropdown {

        .th-icon {
          height: 24px;
          width: 24px;
          display: block;
          background-image: url(../img/glyphicons-th.svg);
          background-size: 32px;
          background-position: center -5px;
        }

        .dropdown-menu  {
          padding: 23px 28px;
          right: -42px;

          &::before {
            right: 45px;
          }

          li {
            height: auto;
            width: 86px;
            border: 1px solid white;
            margin: 5px 0;

            a {
              display: block;
              width: 100%;
              padding: 0;
              height: auto;
              float: left;

              &:hover {
                background-color: white !important;
              }

              .icon {
                width: 55px;
                height: 55px;
                margin: 10px auto;
                background-size: 50px;
                background-position: center center;
                background-repeat: no-repeat;
                width: 100%;
              }

              span {
                float: left;
                width: 100%;
                text-align: center;
                display: block;
                color:rgba(0,0,0,0.87);
                font-size: 13px;
              }

              &:active {
                background-color: white;
              }
            }

            &#opendesktop-link-item {
              a {
                .icon {
                  background-image: url('../img/logo-opendesktop.png');
                }
              }
            }

            &#discourse-link-item {
              a {
                .icon {
                  background-image: url('../img/logo-discourse.png');
                  background-size: 58px;
                }
              }
            }

            &#gitlab-link-item {
              a {
                .icon {
                  background-image: url(../img/logo-gitlab.png);
                }
              }
            }

            &#opencode-link-item {
              a {
                .icon {
                  background-image: url(../img/logo-opencode.png);
                  background-size: 40px;
                }
              }
            }

            &#messages-link-item {
              a {
                .icon {
                  background-image: url(../img/messages.png);
                  background-size: 45px;
                }
              }
            }

            &#issues-link-item {
              a {
                .icon {
                  background-image: url(../img/issues.png);
                  background-size: 45px;
                }
              }
            }

            &:hover {
              border:1px solid #e5e5e5;
              a {
                background-color: white;
              }
            }

            &:active {
              a {
                background-color: white;
              }
            }
          }
        }
      }
    }

    #user-login-menu-container {
      .user-dropdown {
        .dropdown-toggle {
          img {
            height: 26px;
            width: 26px;
            border-radius: 100%;
            margin-top: -1px;
          }
        }
        .dropdown-menu {
          &::before {
            right: 9px;
          }

          #user-info-menu-item {
            width: 100%;
            border-bottom: 1px solid #ccc;
          }

          #user-info-section {
            height: auto;
            padding: 20px;
            background: white;
            float: left;
            padding-left: 116px;
            position: relative;
            width: 100%;
            min-height: 136px;
            box-sizing: border-box;

            .user-avatar {
              height: 96px;
              width: 96px;
              float: left;
              border-radius: 100%;
              overflow: hidden;
              position: absolute;
              top: 20px;
              left: 20px;

              .no-avatar-user-letter {
                border-radius: 100%;
                height: 100%;
                width: 100%;
                background-color: #c1c1c1;
                text-align: center;
                line-height: 80px;
                font-size: 50px;
                color: white;
                overflow: hidden;
                position: relative;

                img {
                  width: 100%;
                }

                .change-profile-pic {
                  width: 100%;
                  position: absolute;
                  bottom: 0;
                  font-size: 9px;
                  height: 26px;
                  left: 0;
                  background-color: rgba(0,0,0,0.4);
                  line-height: 30px;
                  color: white;
                  cursor: pointer;
                  font-weight: bold;
                }
              }
            }
            .user-details {
              width: 175px;
              padding-left: 20px;
              float: left;
              margin-top: -4px;

              ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                float: left;
                width: 100%;

                li {
                  width: 100%;
                  float: left;
                  height: auto;
                  line-height: 15px;
                  font-size: 13px;
                  min-height: 8px;
                  color: #6a7686;

                  a {
                    color: #36c;
                  }

                  b {
                    color: black;
                  }

                  button {
                    margin-top: 16px;
                  }
                }
              }
            }
          }
          #main-seperator {
            margin-top: 0;
            margin-bottom: 0;
            background-color: #ccc;
          }
          li.buttons {
            padding: 10px 20px;
            background-color: #f5f5f5;
            width: 100%;

            .btn {
              width: auto;
              display: block;
              border-radius: 2px;
              padding: 0 16px;
              font-size: 12px;
              height: 30px;
              font-weight: normal;
              color: #666 !important;
              background: #f8f8f8;
              border: 1px solid #c6c6c6;
              float: left;
              clear: none;

              &.pull-right {
                float: right;
              }

              &:hover {
                -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                box-shadow: 0 1px 1px rgba(0,0,0,0.1);
                border-color: #c6c6c6;
                color: #222;
                background-color: #fff;
                background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f8f8f8));
                background-image: -webkit-linear-gradient(top,#fff,#f8f8f8);
                background-image: -webkit-linear-gradient(top,#fff,#f8f8f8);
                background-image: linear-gradient(top,#fff,#f8f8f8);
              }

            }
          }
        }
      }
    }
  }

  #metaheader-left-mobile {
    float: left;
    height: 34px;
    width: 34px;

    a#menu-toggle-item {
      cursor: pointer;
      height: 34px;
      width: 34px;
      display: block;
      float: left;
      background-image: url(../img/hamburger-menu-icon.png);
      background-size: 20px 16px;
      background-repeat: no-repeat;
      background-position: center center;
    }

    #left-side-overlay {
      position: fixed;
      width: 0;
      height: 100%;
      background: rgba(0,0,0,0.5);
      z-index: 1001;
      overflow: hidden;

      #left-side-panel {
        height: 100%;
        width: 0;
        background-color: white;
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-color: white;
        overflow: scroll;
        padding: 10px;
        .transition();

        #panel-header {
          margin-bottom: 20px;
        }

        #panel-menu {
          width: 100%;
          ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
            float: left;

            li {
              width: 100%;
              float: left;

              a {
                width: 100%;
                height: 24px;
                line-height: 24px;
                display: block;
                padding: 0 10px;
                .transition();
              }

              ul {
                padding-left: 15px;
                margin-bottom: 15px;

                li {
                  margin-bottom: 0;

                  a {

                    &:hover {
                      background-color: #efefef;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &.open {
      #left-side-overlay {
        width: 100%;
        #left-side-panel {
          width: 50%;
        }
      }
    }
  }
}
