// out: ../css/product-browse.css, sourcemap: true, compress: true
@import "elements.less";

#product-browse-container {

    #product-browse-item-list {
        padding: 25px 0;
        float: left;
        width: 100%;

        .product-browse-item {
            float:left;
            margin-bottom:30px;
            position: relative;

            > a {
               display: block;
               width:100%;
               height:auto;
            }

            .product-browse-image {
                width: 100%;
                overflow: hidden;
                box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
                position: relative;

                .product-browse-item-preview-music-player {
                    position: absolute;
                    top:0;
                    left:0;
                }

                img {
                    width: 100%;
                }
            }

            .product-browse-item-info {
                font-size:14px;
                font-weight: bold;
                overflow: hidden;

                h2 {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 3px;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    text-overflow: ellipsis;
                }

                span {
                    width: 50%;
                    float: left;
                    display: block;
                }

                span + span {
                    text-align: right;
                }
            }

            .product-browse-music-item-info {
                font-size: 14px;
                padding: 5px;
                float: left;
                margin-bottom: 5px;
                width:100%;

                h2 {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 3px;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    text-overflow: ellipsis;
                    margin: 5px 0;
                    width:100%;
                }

                span {
                    width: 100%;
                    float: left;
                    white-space: nowrap;
                    overflow: hidden;
                    display: block;
                    text-overflow: ellipsis;
                    margin: 2px 0;
                }
            }

            
            .wrapper {
                width:100%;
                position: relative;
            }

            &.three-in-row {
                &:nth-child(3n+1){
                    padding-right:10px;
                    clear: both;
                }
    
                &:nth-child(3n+2){
                    padding-left:5px;
                    padding-right:5px;
                }
    
                &:nth-child(3n+3){
                    padding-left:10px;
                }                
            }

            &.six-in-row {
                &:nth-child(6n+1){
                    padding-right:10px;
                    clear: both;
                }
    
                &:nth-child(6n+2){
                    padding-left:5px;
                    padding-right:10px;
                }
    
                &:nth-child(6n+3){
                    padding-left:5px;
                    padding-right:10px;
                }

                &:nth-child(6n+4){
                    padding-left:5px;
                    padding-right:10px;
                }
                
                &:nth-child(6n+5){
                    padding-left:5px;
                    padding-right:5px;
                }

                &:nth-child(6n+6){
                    padding-left:10px;
                }
            }
        }

        .product-browse-item-preview-music-player {
            width:100%;
            position: absolute;
            top: 38px;
            left: 0;
            
            .react-jinke-music-player-main .music-player-panel {
                position: absolute;
                height: 38px;
                width:100%;

                .play-mode-title {
                    display: none;
                }

                .panel-content {
                    padding:5px;
                    height: 100%;
                    position: relative;
                    display: block;
                
                    .progress-bar-content,
                    .img-content {
                        display: none;
                    }
                
                    .player-content {
                        padding:0px;

                        .group {
                            padding:0;
                            margin:0;

                            &.prev-audio,
                            &.next-audio,
                            &.audio-lists-btn {
                                display: none;
                            }

                            &.play-btn {
                                margin-right:5px;
                            }
                        }
                    }
                }
            }
        }
    }

    #product-browse-pagination {
        text-align: center;

        ul {
            display: table;
            margin: 10px auto;
            padding: 0;
            list-style-type: none;

            li {
                float: left;

                a, span.no-link {
                    display: block;
                    padding: 5px 4px;
                    cursor: pointer;
                }
                
            }
        }
    }
}