out: ../css/style.css, sourcemap: true, compress: true

@import "elements.less";

header div.container.header {
  height: 110px;
}

.products-showcase {

  .products-container {

    .square {
      width: 20%;
      position: relative;
      float: left;
      margin-bottom: 15px;
    }


    .square:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 5px;

      a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }

      .product-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: white;
        .transition();
      }

      .product-image-container {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        padding-bottom: 60px;

        figure {
          width: 100%;
          height: 100%;
          position: relative;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 120px;
            height: 120px;
            margin: -60px 0 0 -60px;
            border-radius: 100%;


            &.squared {
              border-radius: 0;
            }

            &.full {
              position: relative;
              width: 100%;
              height: 100%;
              margin: 0;
              border-radius: 0;
              top: 0;
              left: 0;
            }

            &.padded {
              border-radius: 0;
              border:10px solid white;
            }

            &.rounded-corners {
              border-radius: 5px;
              
            }
          }
        }
      }

      .product-info {
        width: 100%;
        height: 60px;
        color: white;
        padding: 10px;
        position:  absolute;
        bottom: 0;
        left: 0;

        span {
          width: 100%;
          float: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 1.5;

          &.product-info-title {
            font-size: 80%;
            font-weight: 500 !important;
          }

          &.product-info-description {
            font-size: 70%;
          }
        }

        &.music-image {
          padding-right: 40px;
          padding-left: 40px;
          padding-top: 20px;
          text-align: center;

          .material-icons {
            position: absolute;
            top: 18px;

            &.left-icon {
              left: 10px;

            }

            &.right-icon {
              right: 10px;
            }
          }
        }
      }

      &:hover {
        .product-wrapper {
          background-color: #c1c1c1;
        }
      }
    }
  }
}

#app-root {
  font-family: Source Sans Pro,Source Sans,sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 1.8;

  .container {
    width: 100% !important;
    padding: 0 10%;
  }

  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  * {
    font-weight: 300;
  }

  .mdl-button {
    text-transform: lowercase !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }

  .hp-section {
    padding: 20px 0;
    // background-image: url('../img/hp-section-bg.png');

    .section-header {
      position: relative;

      .actions {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    h1, h2, h3, h4, h5 ,h6 {
      width: 100%;
      margin-top: 0;
      text-transform: capitalize;
      font-weight: 300;
    }

    h2 {
      padding-bottom: 15px;
      font-size: 40px;
    }

    h3 {
      font-size: 30px;
      margin-bottom: 5px;
    }

    &:nth-child(even){
      // background-image: none;
      // background-color: white;
    }
  }

  #homepage-version-one {

    .actions {
      .mdl-button + .mdl-button {
        margin-left: 10px;
      }

    }

    #introduction {
    padding-top: 100px;

      p {
        max-width: 700px;
        font-size: 13pt;
      }
    }

  }
}

@media (max-width: 1250px) and (min-width: 1000px) {
  .products-showcase {
    .products-container {
      .square {
        width: 25%;
      }
    }
  }
}

@media (max-width: 999px) and (min-width: 662px) {
  .products-showcase {
    .products-container {
      .square {
        width: 33.3333%;
      }
    }
  }
}

@media (max-width: 661px) {
  .products-showcase {
    .products-container {
      .square {
        width: 50%;
      }
    }
  }
}

@media (max-width: 401px) {
  .products-showcase {
    .products-container {
      .square {
        width: 100%;
      }
    }
  }
}
