.git
.deployment
.docker
!.docker/dev/app/*
!.docker/dev/http/*
!.docker/dev/nginx/*
.logs
.idea
.vscode
data/cache/*
data/indexes/*
data/locales/*
data/logs/*
data/mail/*
data/sessions/*
data/stores/*
data/uploads/*
httpdocs/img/cache/*
httpdocs/img/data/*
vendor