.deployment/
.logs/
.idea/
*.bak
*.log
*.local*
/nbproject/private/
/config/autoload/application.dev.ini.php
development.config.php
/httpdocs/.htaccess
.htaccess
!resque.config.yml
resque.*.yml
docker-compose.*.yml

vendor/*
composer.phar
composer.lock
