<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Application">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="Backend">
            <directory>./module/Backend/test</directory>
        </testsuite>
        <testsuite name="JobQueue">
            <directory>./module/JobQueue/test</directory>
        </testsuite>
        <testsuite name="OcsService">
            <directory>./module/OcsService/test</directory>
        </testsuite>
        <testsuite name="Portal">
            <directory>./module/Portal/test</directory>
        </testsuite>
        <testsuite name="Statistic">
            <directory>./module/Statistic/test</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="API_KEY" value="fakeApiKey" force="true" />
    </php>
</phpunit>