@import "../../assets/less/elements.less";

#product-media-slider-container {
    width:100%;
    margin-bottom: 15px;
}

#media-slider {
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    padding-bottom: 110px;
    background-color: white;
    .transition();

    .carousel-control {
        width: 50px;
        height: 50px;
        z-index: 100;
        cursor: pointer;
        background: rgba(0,0,0,0.35);
        opacity: 1;

        .glyphicon {
            margin-top: -15px;
        }
    }

    .slider-navigation-toggle {
        position: absolute;
        right: 5px;
        height: 31px;
        width: 31px;
        background-size: 25px 25px;
        z-index: 100;
        cursor: pointer;
        background-image: url(../../assets/img/playlist-toggle.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: white;
        border: 2px solid black;
    }

    #slider-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        .transition();

        .slide-item {
            float:left;
            height: inherit;
            position: relative;
            margin:0;

            &.image {
                background-color:white !important;
            }

            .react-player-container {

                .video-react {
                    font-family: inherit;

                    .video-react-control-bar {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex !important;
                        visibility: visible;
                        opacity: 1;
                    }
                    .video-react-time-divider {
                        display: none !important;
                    }
                }

                .cinema-mode-button {
                    line-height: 30px;
                    display: inline-block;
                    color: white;
                    font-size: 10px;
                    text-transform: uppercase;
                    cursor: pointer;

                    span {
                        display: block;
                        width: 15px;
                        height: 10px;
                        border: 2px solid white;
                        margin: 10px;
                    }
                }
            }

            > div { 
                text-align: center;

                > div {
                    margin: 0 auto;
                }
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: auto;
                margin-bottom:auto;
                max-width: 100%;
                max-height: 100%;
                cursor: -moz-zoom-in; 
                cursor: -webkit-zoom-in; 
                cursor: zoom-in;
            }
        }
    }

    #slide-navigation {
        width:100%;
        text-align: center;
        position: absolute;
        height: 110px;
        bottom: 0;

        ul {
            list-style-type: none;
            margin:0 auto;
            display:table;
            padding: 10px 5px;

            li {
                width: 120px;
                height: 80px;
                margin: 0;
                background-color: black;
                border: 5px solid #fff;
                float: left;
                margin: 0 5px;
                box-sizing: content-box;

                a {
                    display: block;
                    width:100%;
                    height: 100%;
                    cursor: pointer;

                    img {
                        cursor: pointer !important;
                    }

                    .glyphicon {
                        font-size: 30px;
                        top: 50%;
                        margin-top: -20px;
                        color:white;
                    }
                }

                &.active {
                    border-color: #2673b0;
                    a {
                        .glyphicon {
                            color: #2673b0;
                        }
                    }
                }

                &.image {
                    background-color: white;
                }

                &.embed {
                    background-color: black;
                    background-image: url('../../assets/img/youtube-icon.png');
                }
            }
        }
    }

    &.hide-arrows {
        .carousel-control {
            opacity: 0;
        }
    }

    &.cinema-mode {
        background-color: black;

        #slider-wrapper {

            .slide-item {

                img {
                    cursor: -moz-zoom-out; 
                    cursor: -webkit-zoom-out; 
                    cursor: zoom-out;
                }
            }
        }
    }

    &.hide-playlist {
        padding-bottom: 30px;

        #slide-navigation {
            height: 30px;

            ul {
                display: table;
                margin:0 auto;
                list-style-type: none;
                padding:8px 0;

                li {
                    float: left;
                    width: 10px;
                    height: 10px;
                    border: 1px solid #888;
                    background-color: white;
                    border-radius: 100%;

                    &.active {
                        background-color: #999;
                    }
                }
            }
        }
    }

    &.fade-controls {
        .carousel-control,
        .slider-navigation-toggle,
        .video-react-control-bar { 
            opacity: 0 !important;
        }
    }

    &.disable-gallery {
        padding-bottom:0;
        .carousel-control,
        .slider-navigation-toggle,
        #slide-navigation { 
            display: none;
        }
    }
}
