@import "../../assets/less/elements.less";

#media-slider {
    overflow: hidden;
    position: relative;

    #slider-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        .transition();

        .slide-item {
            float:left;
        }
    }

    .carousel-control {
        z-index: 100;
        cursor: pointer;
    }

    #slide-navigation {
        width:100%;
        text-align: center;
        ul {
            list-style-type: none;
            margin:0 auto;
            display:table;
            padding: 10px 0;

            li {
                width: 12px;
                height: 12px;
                margin: 0;
                background-color: #fff;
                border: 1px solid #C4D7EF;
                border-radius: 100%;
                float: left;
                margin: 0 2px;
                .transition();

                &.active {
                    background-color: #E2E2E2;
                }
            }
        }
    }
}
