/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* MIXINS */
/* /MIXINS */
/* COLORS */
/* /COLORS */
#media-slider {
  overflow: hidden;
  position: relative;
}
#media-slider #slider-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
