@import "../../assets/less/elements.less";

#media-slider {
    overflow: hidden;
    position: relative;

    #slider-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        .transition()
    }
}
