#main-content-portal .sub-system-container {
  width: 400px;
  border: 1px solid #ccc;
  margin: 5px;
  overflow: hidden;
  display: block;
  float: left;
  min-height: 500px;
}
#main-content-portal .sub-system-container .header {
  height: 50px;
  background-color: #286090;
  color: #ddd;
  font-weight: bold;
  text-align: center;
}
#main-content-portal .sub-system-container .header img {
  border-radius: 999px;
  width: 50px;
  height: 50px;
  margin-left: 5px;
}
