out: ../css/product-page.css, sourcemap: true, compress: true
#product-main {
  margin-top: 40px;
}
#product-page-view {
  #product-title-div {
    #product-header-info-container {
      margin-left:95px;
      .product_category {
        margin-bottom: 5px;
      }
    }
  }
}

@media (max-width: 767px) {
  #product-page-content {
    #product-page-view{
      #product-main-img {
        #product-title-div {
          padding-left: 0;
          min-height: 130px;
          padding-top: 0;
          display: block;
          float: left;
          width: 100%;

          .product-title {
            float: left;
            width: 100%;
          }

          #product-header-info-container {
            margin: 0;
            #product-header-title {
              height: 85px;
            }
            .product_category {
              float: left;
              width: 100%;
            }
            p.light.small {
              float: left;
              width: 100%;
            }
          }

          .product-title-right {
            flex: none;
            float: left;
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid #fafafa;

            .projectdtailHeart {
              margin: 0 auto;
              width: 45px;
              float: none;
              .container-pling {
                width: 45px;
              }
            }
            .projectdetailRating {
              width: 100%;

              #widget-rating {
                border: 0px !important;
                width: 100% !important;
                padding: 0;
                margin: 10px 0;
              }
            }
          }
        }

        #carouselContainer {
          width: 100%;
          float: left;
          padding: 0;

          .carousel-indicators {
            bottom: -40px;
          }

          .carousel-inner {
            margin-top: 20px;
          }
        }
      }
      #product-tabs-container {
        #product-tabs {
          margin: 0 -15px;
          padding: 0;
          .pling-nav-tabs ul.nav-tabs>li>a{font-size: 12px;}
        }
      }
      #product-panels {
        padding: 0;
        margin-bottom: 40px;
        .tab-pane {
          padding: 0;

          &#about-panel #product-about {
            padding: 0;
          }
        }
      }
    }
  }
}
