/*==================*/
/* 	    VARS        */
/*==================*/
/*==================*/
/* 	    MIXINS      */
/*==================*/
.bg_sheet {
  background-image: url(../img/bg_sheet.png);
}
.bg_sheet_statistics {
  background-image: url(../img/statistics_sheet.png);
}
.unstyled_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.hand-with-coin {
  display: inline-block;
  background-image: url('../img/new/button/hand-w-coin.png');
  height: 61px;
  width: 61px;
}
.hand-with-coin.v-2 {
  background-image: url('../img/new/button/hand-w-coin-2.png');
}
/**-- SPECIFIC USE CLASSES ---------*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
a {
  text-decoration: none;
  color: #2673b0;
}
a:hover,
a:active,
a:focus {
  color: #2673b0;
}
.full-width {
  width: 100% !important;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.margin-auto {
  margin: auto;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-left-0 {
  margin-left: 0;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-30 {
  margin-left: 30px;
}
.margin-top-5 {
  margin-top: -5px;
}
.margin-top-40 {
  margin-top: 40px;
}
.padding-both-5 {
  padding: 0 5px;
}
.padding-both-20 {
  padding: 0 20px;
}
.center {
  text-align: center;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.aligncenter {
  margin: 0 auto;
}
.small {
  font-size: 12px;
}
.large {
  font-size: 18px;
}
.light {
  font-weight: 300;
}
.bold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.lightblue {
  color: #2673b0;
}
.lightgrey {
  color: #95a5a6;
}
.lightlightgrey {
  color: #cacfd2;
}
.greyblue {
  color: #bdc3c7;
}
.purple {
  color: #8e44ad;
}
h1.page-title {
  color: #34495e;
  font-weight: bold;
  font-size: 32px;
}
.box {
  border-radius: 5px;
  margin-bottom: 10px;
}
.bordered {
  border: 1px solid #bdc3c7;
}
.bordered-top-left-right {
  border: 1px solid #bdc3c7;
  border-bottom: none;
}
.margin-top_5 {
  margin-top: 5px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-80 {
  margin-top: 80px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-left-15 {
  margin-left: 15px;
}
.margin-right-5 {
  margin-right: 5px;
}
.wrapper {
  width: 1170px;
  margin: auto;
}
.width-150 {
  width: 150px;
}
.borderless {
  border: none !important;
}
.default-cursor {
  cursor: default !important;
}
.cursor-hand {
  cursor: pointer !important;
}
/**-- /SPECIFIC USE CLASSES --------*/
/**-- ICONS ------------------------*/
em.icon {
  display: inline-block;
  background-image: url(/theme/flatui/img/bg_sheet.png);
}
em.pling-icon-gold {
  width: 30px;
  height: 30px;
  background-image: url('/images/system/storeLogo.png')!important;
  background-size: cover;
}
em.gear-icon {
  width: 16px;
  height: 16px;
  background-position: -672px -129px;
}
em.info-icon {
  width: 31px;
  height: 30px;
  background-position: -289px -64px;
}
em.calender-icon {
  background-position: -223px -63px;
  width: 18px;
  height: 15px;
}
em.arrow-down-gray {
  width: 16px;
  height: 8px;
  background-position: -687px -25px;
}
em.arrow-right-black {
  width: 7px;
  height: 12px;
  background: url(../img/right_arrow_small.png) center center;
  /*background-position: -684px -35px;*/
}
em.arrow-white-up {
  width: 16px;
  height: 8px;
  background-position: -748px -103px;
}
em.arrow-gray-down {
  width: 16px;
  height: 8px;
  background-position: -748px -113px;
}
em.icon-expand {
  width: 12px;
  height: 10px;
  background-position: -734px -31px;
}
em.icon-contract {
  width: 12px;
  height: 10px;
  background-position: -750px -31px;
}
.icon-facebook,
.icon-twitter,
.icon-google {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  background-image: url(../img/bg_sheet.png);
}
.icon-facebook {
  background-position: 0px -105px;
}
.icon-facebook:hover {
  background-position: 0px -145px;
}
.icon-twitter {
  background-position: -40px -105px;
}
.icon-twitter:hover {
  background-position: -40px -145px;
}
.icon-google {
  background-position: -80px -105px;
}
.icon-google:hover {
  background-position: -80px -145px;
}
em.heart-icon {
  width: 26px;
  height: 24px;
  background-position: -703px -48px;
}
em.heart-icon:hover {
  background-position: -673px -48px;
}
em.heart-icon-purple {
  width: 26px;
  height: 24px;
  background-position: -733px -48px;
}
em.share-icon {
  height: 23px;
  width: 23px;
  background-image: url(/theme/flatui/img/icon-share.png);
}
em.report-icon {
  height: 23px;
  width: 23px;
  background-image: url(/theme/flatui/img/icon-report.png);
}
em.section-heading-icon {
  width: 24px;
  height: 24px;
  margin: -3px 5px 0 0;
}
em.icon-profile {
  background-position: -192px -128px;
}
em.icon-profile-picture {
  background-position: -224px -128px;
}
em.icon-password {
  background-position: -257px -128px;
}
em.icon-newsletter {
  background-position: -320px -128px;
}
em.icon-website {
  background-position: -288px -128px;
}
em.icon-payment {
  background-position: -347px -128px;
}
/**-- /ICONS ------------------------*/
/**-- BUTTONS -------------------**/
.plingbutton {
  height: 60px;
  width: 204px;
  /*background: url(/theme/flatui/img/new/button.png);*/
  background: url(/theme/flatui/img/new/button-o.png);
  padding: 0;
  background-color: white !important;
  margin: 0 auto;
}
.plingbutton a,
.plingbutton button {
  display: block;
  height: 100%;
  width: 100%;
}
.body-pling-button {
  margin: 0px;
}
.btn-pling-2 {
  font-size: 1.1em;
  font-weight: 400;
  padding: 0.4em 0.8em;
  height: 41px;
  margin: 0;
  background: #2673b0;
  color: white;
  border-radius: 5px;
  border: 1px solid #7f7f7f;
  text-shadow: 1px 1px 1px #444;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}
.btn-pling-2:hover {
  background: #2b81c5;
}
.btn-pling-2:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background: #21659b;
}
.btn-submit {
  background: #2673b0;
  padding: 10px 35px;
}
.btn-purple {
  background: #9b59b6;
  padding: 10px 35px;
}
.btn-grey {
  background: #393d3f;
  padding: 10px 35px;
}
.btn-light-grey {
  background: #517892;
  padding: 10px 35px;
}
.btn-native {
  background-color: #14B9D5;
}
.btn.btn-native:hover,
.btn.btn-native:focus,
.btn-group:focus .btn.btn-native.dropdown-toggle {
  background-color: #0e778a;
}
.btn-min-width {
  min-width: 120px;
}
/**-- /BUTTONS ------------------**/
/**-- COMMON ----------------------*/
* {
  outline: none !important;
}
.icon-expand {
  right: 0;
  top: 0;
  width: 45px;
  height: 50px;
  padding-bottom: 2px;
  background: url(../img/icon-expand.png);
  border-left: 1px solid #bdc3c7;
}
.expand {
  right: 0;
  top: 0px;
  width: 45px;
  height: 98%;
  padding-bottom: 2px;
  border-left: 1px solid #bdc3c7;
}
.expand em {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -5px;
  border-left: 0px;
}
/**-- COMMON ----------------------*/
