#category-panles-container {
  width:100%;
  height: calc(auto+50px);
  overflow: hidden;
  position: relative;

  #category-panels-slider {
    transition: .2s;
    position: absolute;
    top:0;
  }
} 
