.dummy-item-list {
  padding-top: 10px;
}
.dummy-item-list .dummy-product-wrapper {
  width: 100%;
  float: left;
  font-size: 12px;
  color: #f3f0f0;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item {
  width: 100%;
  margin-bottom: 5px !important;
  padding: 0 !important;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item .product-browse-item-wrapper {
  text-align: center;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item .dummy-product-browse-item {
  width: 100%;
  height: auto;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item .dummy-product-browse-item .dummy-fill.img-placeholder {
  width: 100%;
  padding-top: 100%;
  /* 1:1 Aspect Ratio */
  position: relative;
  /* If you want text inside of it */
}
.dummy-item-list .dummy-product-wrapper .product-browse-item .dummy-product-browse-item .dummy-fill.title {
  height: 1.4em;
  width: 40%;
  margin-bottom: 1em;
  margin-top: 0.35em;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item .dummy-product-browse-item .dummy-fill.category {
  width: 10%;
  margin-right: 5px;
  margin-bottom: 0.6em;
  height: 0.8em;
  float: left;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item .dummy-product-browse-item .dummy-fill.text {
  width: 100%;
  height: 1em;
  margin-bottom: 0.5em;
  clear: both;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item .dummy-product-browse-item .dummy-fill.half-text {
  width: 50%;
  min-width: 50px;
  height: 1em;
  margin-bottom: 0.5em;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item .dummy-product-browse-item .dummy-fill.dummy-circle {
  border-radius: 100%;
  margin-bottom: 10px !important;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item .dummy-product-browse-item .dummy-fill.date-display {
  margin: 0 auto;
}
.dummy-item-list .dummy-product-wrapper .product-browse-item span.glyphicon-picture {
  font-size: 11em;
  margin: -10px auto;
}
.dummy-item-list .dummy-product-wrapper.first .product-browse-item {
  margin-top: 0;
}
.dummy-item-list hr {
  height: 1px;
  border: 0 !important;
  width: 100%;
  float: left;
  margin: 5px 0 10px 0;
}
