.product-browse-music-player-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 10;
}
.product-browse-music-player-wrapper .music-player-controls-bar .music-player-audio-control {
  float: left;
  background: rgba(0, 0, 0, 0.5);
  height: 40px;
  transition: 0.5s;
}
.product-browse-music-player-wrapper .music-player-controls-bar .music-player-audio-control span {
  display: block;
  padding: 5px;
  float: left;
}
.product-browse-music-player-wrapper .music-player-controls-bar .music-player-audio-control span svg {
  font-size: 28px;
  color: white;
  transition: 0.5s;
}
.product-browse-music-player-wrapper .music-player-controls-bar .music-player-audio-control span svg:hover {
  color: #31c27c;
}
.product-browse-music-player-wrapper .music-player-controls-bar .music-player-audio-control span:first-child,
.product-browse-music-player-wrapper .music-player-controls-bar .music-player-audio-control span:last-child {
  display: none;
}
.product-browse-music-player-wrapper .music-player-controls-bar .track-number-display {
  opacity: 0;
  float: right;
  background: rgba(0, 0, 0, 0.5);
  height: 40px;
  padding: 5px;
  color: white;
  font-size: 12px;
  line-height: 30px;
  transition: 0.5s;
}
.product-browse-music-player-wrapper .music-player-controls-bar.is-playing .music-player-audio-control span:first-child,
.product-browse-music-player-wrapper .music-player-controls-bar.is-playing .music-player-audio-control span:last-child {
  display: block;
  padding: 5px 0;
}
.product-browse-music-player-wrapper .music-player-controls-bar.is-playing .track-number-display {
  opacity: 1;
}
.product-browse-item-preview-music-player {
  width: 100%;
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 10;
}
.product-browse-item-preview-music-player button {
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none !important;
}
.product-browse-item-preview-music-player .player {
  top: -44px;
  position: absolute;
  width: 100%;
  left: 0;
}
.product-browse-item-preview-music-player .player .audio-player-controls,
.product-browse-item-preview-music-player .player .track-counter {
  padding: 5px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}
.product-browse-item-preview-music-player .player .audio-player-controls {
  float: left;
  transition: 0.5s;
}
.product-browse-item-preview-music-player .player .audio-player-controls span {
  cursor: pointer;
}
.product-browse-item-preview-music-player .player .audio-player-controls svg {
  font-size: 28px;
  color: white;
  transition: 0.5s;
  vertical-align: middle;
}
.product-browse-item-preview-music-player .player .audio-player-controls svg:hover {
  color: #31c27c;
}
.product-browse-item-preview-music-player .player .track-counter {
  float: right;
  color: white;
  line-height: 30px;
}
.product-browse-item-preview-music-player.mobile .player .player-interface .audio-player-controls {
  width: 100%;
  height: 100px;
}
.product-browse-item-preview-music-player.mobile .player .player-interface .audio-player-controls .play-icon,
.product-browse-item-preview-music-player.mobile .player .player-interface .audio-player-controls .pause-icon {
  font-size: 60px;
  top: 20px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
}
.product-browse-item-preview-music-player.mobile .player .player-interface .audio-player-controls .prev-icon {
  font-size: 50px;
  position: absolute;
  top: 25px;
  left: 0;
}
.product-browse-item-preview-music-player.mobile .player .player-interface .audio-player-controls .next-icon {
  font-size: 50px;
  position: absolute;
  top: 25px;
  right: 0;
}
.product-browse-item-preview-music-player.mobile .player .player-interface .track-counter {
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 27px;
  background: 0;
  margin-left: -25px;
  padding: 0;
  width: 50px;
  text-align: center;
}
.product-browse-item-preview-music-player .music-player-counter {
  position: absolute;
  top: -44px;
  background-color: rgba(0, 0, 0, 0.7);
  right: 0;
  display: block;
  z-index: 100000;
  height: 44px;
  color: white;
  line-height: 35px;
  padding: 5px;
  display: none;
}
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel {
  position: absolute;
  height: 44px;
  width: 38px;
  overflow: hidden;
  transition: 0.5s;
}
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .play-mode-title {
  display: none;
}
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content {
  padding: 5px;
  height: 100%;
  position: relative;
  display: block;
}
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .img-content,
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .audio-title,
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .progress-bar-content {
  display: none;
}
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .player-content {
  padding: 0px;
}
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .player-content .group {
  padding: 0;
  margin: 0;
}
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .player-content .group.prev-audio,
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .player-content .group.next-audio,
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .player-content .group.audio-lists-btn,
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .player-content .group.play-sounds {
  display: none;
}
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .player-content .group.play-btn.play {
  margin-right: 5px;
  margin-top: 3px;
}
.product-browse-item-preview-music-player .react-jinke-music-player-main .music-player-panel .panel-content .player-content .group.loading {
  margin-top: 2px;
  margin-left: 42px;
}
.product-browse-item-preview-music-player .react-jinke-music-player-mobile {
  height: auto;
  position: absolute;
  top: -44px;
}
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .react-jinke-music-player-mobile-header,
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .react-jinke-music-player-mobile-singer,
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .react-jinke-music-player-mobile-switch,
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .react-jinke-music-player-mobile-cover,
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .react-jinke-music-player-mobile-progress,
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .react-jinke-music-player-mobile-operation {
  display: none;
}
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .react-jinke-music-player-mobile-toggle {
  padding: 0;
  display: flex;
  justify-content: center;
}
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .react-jinke-music-player-mobile-toggle .play-btn {
  padding: 0 20px;
}
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .group.prev-audio,
.product-browse-item-preview-music-player .react-jinke-music-player-mobile .group.next-audio {
  display: none;
  padding-top: 6px;
}
.product-browse-item-preview-music-player.show-controls .music-player-counter {
  display: block;
}
.product-browse-item-preview-music-player.show-controls .react-jinke-music-player-main .music-player-panel {
  width: 110px;
}
.product-browse-item-preview-music-player.show-controls .group.prev-audio,
.product-browse-item-preview-music-player.show-controls .group.next-audio {
  display: block !important;
}
.music-player-progress-bar {
  height: 16px;
  width: 100%;
  /* background-color: rgba(0,0,0,0.3); */
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  overflow: hidden;
  bottom: -137px;
  cursor: pointer;
}
.music-player-progress-bar .rc-slider {
  border-radius: 0 !important;
}
.music-player-progress-bar .rc-slider .rc-slider-step,
.music-player-progress-bar .rc-slider .rc-slider-track,
.music-player-progress-bar .rc-slider .rc-slider-rail {
  border-radius: 0 !important;
}
